@model TGVL.Models.ReplyDetails

<div class="table-responsive">
    <table class="data-table">
        <thead>
            <tr>
                <th>
                    Sản phẩm phản hồi: <span class="badge">@Model.ReplyProducts.Count()</span>
                </th>

                <th>
                    Hình ảnh
                </th>

                <th>
                    Đơn giá
                </th>

                <th>
                    Số lượng
                </th>

                <th>
                    Thành tiền
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<TGVL.Models.RepliedProduct> rp = ViewBag.RepliedProduct;
            }

            @foreach (var item in rp)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <img src="~/Images/Product/Warehouse/@item.Image" style="max-height:100px; max-width:100px" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice) / @Html.DisplayFor(modelItem => item.Type)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                    <td>
                        @{var mini = item.UnitPrice * item.Quantity;}
                        @string.Format("{0:C0}", mini)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="popular-posts widget widget__sidebar">
    <h3 class="widget-title"><strong>THÔNG TIN THÊM</strong></h3>
    <div class="widget-content">

        <dl class="dl-horizontal">
            @if (Model.Rank != 0)
            {
                
                <dt>
                    Cửa hàng
                </dt>

                <dd>
                    @Model.SupplierName
                </dd>

                <dt>
                    Địa chỉ
                </dt>

                <dd>
                    @foreach(var addr in Model.WarehouseAddress)
                    {
                        <span class="warehouse-address" style="display:block">@addr</span>
                    }
                </dd>

                <dt>
                    Số điện thoại
                </dt>

                <dd>
                    @Model.PhoneNumber
                </dd>

                <dt>
                    Giá thầu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Total)
                </dd>
            }
            else
            {
                <dt>
                    Giá đề xuất từ cửa hàng
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Total)
                </dd>

                <dt>
                    Giảm giá
                </dt>

                <dd>
                    @Model.Discount %
                </dd>
            }

            <dt>
                Ngày giao hàng
            </dt>

            <dd>
                @Convert.ToDateTime(Model.DeliveryDate).ToString("dd/MM/yyyy")
            </dd>

            <dt>
                Ghi chú
            </dt>

            <dd>
                @Html.Raw(Model.Description)
            </dd>
            
        </dl>

    </div>
</div>