@model TGVL.Models.ReplyDetails
@using TGVL.MyHelper
<style>
    span.stars, span.stars span {
        display: block;
        background: url("/Images/stars.png") 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

    span.stars span {
        background-position: 0 0;
    }
</style>

<div class="table-responsive">
    <table class="data-table">
        <thead>
            <tr>
                <th>
                    Sản phẩm phản hồi: <span class="badge">@Model.ReplyProducts.Count()</span>
                </th>

                <th>
                    Hình ảnh
                </th>

                <th>
                    Đơn giá
                </th>

                <th>
                    Số lượng
                </th>

                <th>
                    Thành tiền
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                List<TGVL.Models.RepliedProduct> rp = ViewBag.RepliedProduct;
            }

            @foreach (var item in rp)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <img src="~/Images/Product/Warehouse/@item.Image" style="max-height:100px; max-width:100px" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice) / @Html.DisplayFor(modelItem => item.Type)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                    <td>
                        @{var mini = item.UnitPrice * item.Quantity;}
                        @string.Format("{0:C0}", mini)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="popular-posts widget widget__sidebar">
    <h3 class="widget-title"><strong>THÔNG TIN THÊM</strong></h3>
    <div class="widget-content" style="font-size:16px;">

        <dl class="dl-horizontal">
            @if (Model.Rank != 0)
            {
                <dt>
                    Giá thầu
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Total)
                </dd>

                <dt>
                    Ngày giao hàng
                </dt>

                <dd>
                    @Convert.ToDateTime(Model.DeliveryDate).ToString("dd/MM/yyyy")
                </dd>

                <dt>
                    Ghi chú
                </dt>

                <dd>
                    @Html.Raw(Model.Description)
                </dd>

                <hr style="margin-left: -10px;border-top: 5px solid #eaeaea;"/>

                <dt>
                    Cửa hàng
                </dt>

                <dd>
                    @Model.SupplierName
                </dd>

                <dt>
                    Địa chỉ
                </dt>

                <dd>
                    @foreach(var addr in Model.WarehouseAddress)
                    {
                        <span class="warehouse-address" style="display:block">@addr</span>
                    }
                </dd>

                <dt>
                    Số điện thoại
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.PhoneNumber)*@
                    @*@String.Format("{1} {2} {3}", Model.PhoneNumber.Substring(0, 3), Model.PhoneNumber.Substring(3, 3), Model.PhoneNumber.Substring(6, Model.PhoneNumber.Length - 6))*@
                    @Html.FormatPhoneNum(Model.PhoneNumber)
                </dd>

                <dt>
                    Đánh giá
                </dt>

                <dd>
                    <span class="stars" style="float:left">@Model.Rating</span> (@Model.Rating)
                </dd>


            }
            else
            {
                <dt>
                    Giá tiền
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Total)
                </dd>

                <dt>
                    Ngày giao hàng
                </dt>

                <dd>
                    @Convert.ToDateTime(Model.DeliveryDate).ToString("dd/MM/yyyy")
                </dd>

                <dt>
                    Giảm giá
                </dt>

                <dd>
                    @Model.Discount %
                </dd>

                <dt>
                    Ghi chú
                </dt>

                <dd>
                    @Html.Raw(Model.Description)
                </dd>

                <hr style="margin-left: -10px;border-top: 5px solid #eaeaea;" />

                <dt>
                    Cửa hàng
                </dt>

                <dd>
                    @Model.SupplierName
                </dd>

                <dt>
                    Địa chỉ
                </dt>

                <dd>
                    @foreach (var addr in Model.WarehouseAddress)
                    {
                        <span class="warehouse-address" style="display:block">@addr</span>
                    }
                </dd>

                <dt>
                    Số điện thoại
                </dt>

                <dd>
                    @Html.FormatPhoneNum(Model.PhoneNumber)
                </dd>

                <dt>
                    Đánh giá
                </dt>

                <dd>
                    <span class="stars" style="float:left">@Model.Rating</span> (@Model.Rating)
                </dd>
            }

            

           
            
        </dl>

    </div>
</div>

<script>
    $(document).ready(function () {
        $(".stars").each(function () {
            var raw = $(this).text().replace(',', '.');
            var val = parseFloat(raw);
            console.log(val);

            var size = Math.max(0, (Math.min(5, val))) * 16;

            var $span = $('<span />').width(size);

            $(this).html($span);
        });
    })
</script>