@model TGVL.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
    Layout = "~/Views/Shared/_ManageViewLayout.cshtml";
}


<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="~/Images/UserAvatar/Admin1.jpg" alt="Avatar" title="Change the avatar">
                        </div>
                    </div>
                    <h3>@(Model.Username)</h3>
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> @(Model.Address)
                        </li>

                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                        </li>

                        <li class="m-top-xs">
                            <i class="fa fa-external-link user-profile-icon"></i>
                            <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation">
                                @Html.ActionLink("Personal Info", "Index")

                            </li>
                            <li role="presentation" class="active">
                                @Html.ActionLink("Create Password", "SetPassword")
                            </li>
                            <li role="presentation" class="">
                                <a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Setting</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">

                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="profile-tab">
                                @if (!Model.HasPassword)
                                {
                                    using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form", id = "demo-form2" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new-password">
                                                New Password
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control col-md-7 col-xs-12", id = "newpassword" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new-password">
                                                Confirm Password
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-md-7 col-xs-12", id = "confirmpassword" })
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button class="btn btn-primary" type="button">Cancel</button>
                                                <button class="btn btn-primary" type="reset">Reset</button>
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    }
                                }
                                

                            </div>
                            @*<div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab"></div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






















@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}