@model TGVL.Models.AddProductViewModel


<div id="productList" class="form-horizontal">

    @using (Ajax.BeginForm(new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "productList",
        OnSuccess = "$('#test').modal('show')"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="control-label col-md-2" for="Product_Name">Sản phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Category_Name">Danh mục</label>
            <div class="col-md-10">
                @Html.DropDownList("SysCategoryId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Category_Name">Nhà sản xuất</label>
            <div class="col-md-10">
                @Html.DropDownList("ManufacturerId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Product_Image">Hình ảnh</label>
            <div class="col-md-10">
                <input type="file" id="Product" name="uploadImage" />
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2" for="Quantity">Số lượng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2" for="UnitPrice">Giá tiền</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="UnitType">Đơn vị</label>
            <div class="col-md-10">
                @Html.DropDownList("UnitTypeId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Warehouse">Kho</label>
            <div class="col-md-10">
                @*@Html.DropDownList("WarehouseId", null, htmlAttributes: new { @class = "form-control" })*@

                @{
                    List<TGVL.Models.AssignedWarehouseData> warehouses = ViewBag.Warehouses;
                    <table class="table">
                        @{
                            int count = 0;
                            foreach (var warehouse in warehouses)
                            {
                                count++;
                                var groupId = warehouse.WarehouseId;
                                <tr>
                                    
                                    <td>
                                        @warehouse.Address
                                        <input type="checkbox"
                                               name="selectedWarehouse"
                                               value="@warehouse.WarehouseId"
                                               id="group_@count" />
                                    </td>

                                    <td>
                                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "group_" + count, @readonly = "true" } })
                                    </td>
                                </tr>
                            }
                        }

                    </table>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Select" class="btn btn-default" />
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name='selectedWarehouse']").click(function () {
            var myClass = $(this).attr("id");
            $('.' + myClass).attr('readonly', !this.checked);

            if (!$(this).is(":checked")) {
                $('.' + myClass).val("");
            }
        });
    });
</script>
