@model TGVL.Models.MuaNgayViewModel

@using (Ajax.BeginForm("AddToCart", "Home",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "updateCart(data, status, xhr)"
    }
))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="popular-posts widget widget__sidebar">
        <h3 class="widget-title"><strong>THÔNG TIN</strong></h3>
        <div class="widget-content">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" style="font-size:14px">Sản phẩm</label>
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.ProductName, "", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" style="font-size:14px">Giá tiền</label>
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.UnitPrice) / @Html.DisplayFor(model => model.UnitType)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" style="font-size:14px">Số lượng <span style="color:#ff0000"> *</span></label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Quantity, "", new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger error-quantity" })
                        <span class="text-danger field-validation-valid" id="errorQuantity" style="display:none;margin-left: -30px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('input').bind("cut copy paste", function (e) {
            e.preventDefault();
        });
        $('input[type="number"]').bind('keypress', function (e) {
            if (e.keyCode == '9' || e.keyCode == '16') {
                return;
            }
            var code;
            if (e.keyCode) code = e.keyCode;
            else if (e.which) code = e.which;
            if (e.which == 46)
                return false;
            if (code == 8 || code == 46)
                return true;
            if (code < 48 || code > 57)
                return false;
        });
        var MaxLengthInputNumberSmall = @ViewBag.MaxLengthInputNumberSmall;
        $('#Quantity').keypress(function (e) {

            if (this.value.length == MaxLengthInputNumberSmall) {
                e.preventDefault();
            }
        });
       

        $('#Quantity').bind('keyup mouseup', function (e) {

            var quantity = $("#Quantity").val();
            console.log(quantity);

            if (quantity.length == MaxLengthInputNumberSmall) {
                console.log(quantity.length);
                $('#errorQuantity').empty();
                $('#errorQuantity').hide();
                e.preventDefault();
            } else if (quantity.length > MaxLengthInputNumberSmall) {
                var error = "<span>Xin hãy nhập ít hơn 10 số</span>";
                $("#errorQuantity").html(error);
                $("#errorQuantity").show();
            }
            else {
                $('#errorQuantity').empty();
                $('#errorQuantity').hide();

                if (quantity <= 0 && quantity != '') {
                    var error = "<span>Số lượng phải lớn hơn 0</span>";
                    $("#errorQuantity").html(error);
                    $("#errorQuantity").show();
                } else {
                    $('#errorQuantity').empty();
                    $('#errorQuantity').hide();
                }
            }
        });

        $("#mua_ngay_btn").click(function (event) {
            event.preventDefault();
            var result = $('#form0').valid();

            if (result) {
                var quantity = $("#Quantity").val();
                if (quantity > 0 && quantity.length <= MaxLengthInputNumberSmall) {
                    $("form[id='form0']").submit();
                }
            }
        });
    })
</script>