
@model  TGVL.Models.HydridViewModel

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/TestLayout.cshtml";
}
@Styles.Render("~/Content/slidercss")
<link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
<style>
    span.stars, span.stars span {
        display: block;
        background: url("/Images/stars.png") 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

        span.stars span {
            background-position: 0 0;
        }

    .item-img-info {
        width: 250px;
        height: 220px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item-inner {
        width: 250px;
        height: 350px;
        display: block;
        vertical-align: top;
    }

    .col-item {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
    }


    .fa {
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .more_item {
        position: absolute;
        /*top:10px;*/
        right: 10px;
        height: 28px;
        padding: 4px 10px;
        margin-top: -150px;
        /*margin-top:10px;*/
        background: rgba(0, 0, 0, 0.55);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .item-box-hover {
        opacity: 0;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 0 10px;
        color: #fff;
        z-index: 5;
    }

    .view .view_detail {
        padding: 6px 12px;
        width: 110px;
        height: 34px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -55px;
        margin-top: -80px;
        line-height: 22px;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        background: #73bc28;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .deal_discount {
        display: inline-block;
        width: 55px;
        height: 24px;
        padding: 0 2px 0 10px;
        line-height: 25px;
        background: url("/Images/discount.svg") no-repeat;
        background-size: contain;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        vertical-align: text-top;
        margin-left: 10px;
        vertical-align: 4px;
    }
</style>

@*<section class="main-container col1-layout home-content-container" style="background:#f4f4f4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" style="font-size:large">YÊU CẦU NỔI BẬT</a></li>
                        <li><a href="#tab_2" data-toggle="tab" style="font-size:large">YÊU CẦU MỚI</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">

                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="row">
                                <ul class="products-grid">
                                    @foreach (var item in Model.NewRequest)
                                    {
                                        <li class="item col-md-3">
                                            <div class="col-item">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a href="/Request/Details/@item.Id" class="product-image"> <img src="~/Images/Request/@item.Image"></a>
                                                            <div class="item-box-hover">
                                                                <div class="more_item">
                                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; <span class="count-down" data-time="@item.DueDateCountdown" style="font-size:13px"></span>
                                                                </div>
                                                                <span class="view"><a class="view_detail" href="/Request/Details/@item.Id">Xem ngay</a></span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">@item.Title</h3></div>
                                                            <div class="item-content">
                                                                <div class="short-description"></div>
                                                                <div class="short-description">
                                                                    <span class="pull-left">@item.UserName</span>
                                                                    <span class="pull-right">@item.NumReplies</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <br />
                            <div style="text-align:center">
                                <a href="/Request" class="btn btn-info" style="font-size:16px">Xem tất cả <i class="fa fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
</section>*@

<section class="main-container" style="background:#f4f4f4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" style="font-size:large">DEAL NỔI BẬT</a></li>
                        <li><a href="#tab_2" data-toggle="tab" style="font-size:large">DEAL MỚI</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <ul class="products-grid">
                                    @foreach (var item in Model.Hotdeal)
                                    {
                                        <li class="item col-md-3">
                                            <div class="col-item">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a href="/Deal/Details/@item.Id" class="product-image"> <img src="~/Images/Product/SysProduct/@item.Image"></a>
                                                            <div class="item-box-hover">
                                                                <div class="more_item">
                                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; <span class="count-down" data-time="@item.DueDateCountdown" style="font-size:13px"></span>
                                                                </div>
                                                                <span class="view"><a class="view_detail" href="/Deal/Details/@item.Id">Xem ngay</a></span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">@item.Title</h3></div>
                                                            <div class="item-content">
                                                                <div class="price-block">
                                                                    <div class="price-box" style="text-align:left">
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px;font-weight:700">@Html.DisplayFor(itemModel => item.SavePrice)</span> <span class="deal_discount">@item.Discount%</span></p>
                                                                        <br />
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">@Html.DisplayFor(itemModel => item.UnitPrice)</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> @item.NumBuyer</i></span></p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                               
                                <div style="text-align:center">
                                    <a href="/Home/ViewHotDeal" class="btn btn-info" style="font-size:16px">Xem tất cả <i class="fa fa-caret-right"></i></a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="row">
                                <ul class="products-grid">
                                    @foreach (var item in Model.Newdeal)
                                    {
                                        <li class="item col-md-3">
                                            <div class="col-item">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a href="/Deal/Details/@item.Id" class="product-image"> <img src="~/Images/Product/SysProduct/@item.Image"></a>
                                                            <div class="item-box-hover">
                                                                <div class="more_item">
                                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; <span class="count-down" data-time="@item.DueDateCountdown" style="font-size:13px"></span>
                                                                </div>
                                                                <span class="view"><a class="view_detail" href="/Deal/Details/@item.Id">Xem ngay</a></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px"><strong>@item.Title</strong></h3></div>
                                                            <div class="item-content">
                                                                <div class="price-block">
                                                                    <div class="price-box" style="text-align:left">
                                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">@Html.DisplayFor(itemModel => item.SavePrice)</span> <span class="deal_discount">@item.Discount%</span></p>
                                                                        <br />
                                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">@Html.DisplayFor(itemModel => item.UnitPrice)</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> @item.NumBuyer</i></span></p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <div style="text-align:center">
                                    <a href="/Home/ViewNewDeal" class="btn btn-info" style="font-size:16px">Xem tất cả <i class="fa fa-caret-right"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*<div class="container">
            <div class="row">
                <div class="std">
                    <div id="border1" class="best-pro col-md-12">
                        <div class="slider-items-products">
                            <div class="new_title center">
                                <h2><strong>CỬA HÀNG NỔI BẬT</strong></h2>
                            </div>
                            <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4">
                                    @foreach (var item in Model.Hotshop)
                                    {
                                        <div class="item">
                                            <div class="col-item">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/UserAvatar/@item.Avatar"> </a>
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px"> @item.ShopName </h3></div>
                                                            <div class="item-content">

                                                                <span style="float:left" class="stars">@item.Rating</span> (@item.Rating)

                                                                <div class="short-description" style="padding-left:10px">
                                                                    <p>@item.Address</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <div style="text-align:center">
                <a href="/Home/ViewHotShop" class="btn btn-default" style="font-size:16px">Xem tất cả <i class="fa fa-caret-right"></i></a>
            </div>
        </div>*@

</section>

<script src="~/Scripts/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/parallax.js"></script>
<script src="~/Scripts/js/common.js"></script>
<script src="~/Scripts/js/slider.js"></script>
<script src="~/Scripts/js/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {
        $(".stars").each(function () {

            var val = parseFloat($(this).html());
            console.log(val);

            var size = Math.max(0, (Math.min(5, val))) * 16;

            var $span = $('<span />').width(size);

            $(this).html($span);
        });

    });
    $(document).ready(function () {
        clock();
    });
</script>