
@model  TGVL.Models.HydridViewModel

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/TestLayout.cshtml";
}
@Styles.Render("~/Content/slidercss")

<style>
    span.stars, span.stars span {
        display: block;
        background: url("/Images/stars.png") 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

        span.stars span {
            background-position: 0 0;
        }  
    .item-img-info {
        width: 250px;
        height: 200px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item-inner {
        width: 250px;
        height: 350px;
        display: block;
        vertical-align: top;
    }

    .col-item {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    /*#border1 {
        border-top: 2px solid #e5e5e5;
        border-bottom: 2px solid #e5e5e5;
        border-left: 2px solid #e5e5e5;
        border-right: 2px solid #e5e5e5;
        background: #fff;
    }*/
</style>

@*<div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>ĐẤU THẦU</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>MUA DEAL</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>MUA LẺ</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>MUA THƯỜNG</p>
                    </div>
                </div>
            </div>

        </div>
    </div>*@

<section class="main-container col1-layout home-content-container" style="background:#f4f4f4">
    <div class="container">
        <div class="row">
            <div class="std">
                <div id="border1" class="best-pro col-md-12">
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2><strong>DEAL MỚI</strong></h2>
                        </div>
                        <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">

                                @foreach (var item in Model.Newdeal)
                                {
                                    <div class="item">
                                        <div class="col-item">
                                            <div class="new-label new-top-right">Mới</div>
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="/Deal/Details/@item.Id" class="product-image"> <img src="~/Images/Product/SysProduct/@item.Image"></a>
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">@item.Title</h3></div>
                                                        <div class="item-content">
                                                            <div class="price-block">
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">@Html.DisplayFor(itemModel => item.SavePrice)</span> Giảm <strong style="color:#ff1341; font-size:20px">@item.Discount%</strong> </p>
                                                                    <br />
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">@Html.DisplayFor(itemModel => item.UnitPrice)</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> @item.NumBuyer</i></span></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" class="product-image"> <img src="~/Images/Product/Warehouse/PCB40.jpg"> </a>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">Thưởng Thức Dimsum Trưa Và Tối Tại Nhà Hàng Little Hong Kong</h3></div>
                                                    <div class="item-content">
                                                        <div class="price-block">
                                                            <div class="price-box">
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">89.000</span> Giảm <strong style="color:#ff1341; font-size:20px">5%</strong> </p>
                                                                <br />
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">78.000</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> 100</i></span></p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" class="product-image"> <img src="~/Content/images/xi-mang-fico-pcb40.jpg"> </a>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">Thưởng Thức Dimsum Trưa Và Tối Tại Nhà Hàng Little Hong Kong</h3></div>
                                                    <div class="item-content">
                                                        <div class="price-block">
                                                            <div class="price-box">
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px">89.000</span> Giảm <strong style="color:#ff1341; font-size:18px">5</strong> </p>
                                                                <br />
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">78.000</span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 1</i></span></p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" class="product-image"> <img src="~/Content/images/xi-mang-fico-pcb40.jpg"> </a>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">Thưởng Thức Dimsum Trưa Và Tối Tại Nhà Hàng Little Hong Kong</h3></div>
                                                    <div class="item-content">
                                                        <div class="price-block">
                                                            <div class="price-box">
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px">89.000</span> Giảm <strong style="color:#ff1341; font-size:18px">5</strong> </p>
                                                                <br />
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">78.000</span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 1</i></span></p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" class="product-image"> <img src="~/Content/images/xi-mang-fico-pcb40.jpg"> </a>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">Thưởng Thức Dimsum Trưa Và Tối Tại Nhà Hàng Little Hong Kong</h3></div>
                                                    <div class="item-content">
                                                        <div class="price-block">
                                                            <div class="price-box">
                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px">89.000</span> Giảm <strong style="color:#ff1341; font-size:18px">5</strong> </p>
                                                                <br />
                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">78.000</span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 1</i></span></p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div style="text-align:center">
            <a href="/Home/ViewNewDeal" class="btn btn-primary" style="font-size:16px">Xem tất cả <i class="fa fa-caret-right"></i></a>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="std">
                <div id="border1" class="best-pro col-md-12">
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2><strong>DEAL NỔI BẬT</strong></h2>
                        </div>
                        <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                @foreach (var item in Model.Hotdeal)
                                {
                                    <div class="item">
                                        <div class="col-item">
                                            <div class="item-inner">
                                                <div class="sale-label sale-top-right">Hot</div>
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="/Deal/Details/@item.Id" class="product-image"> <img src="~/Images/Product/SysProduct/@item.Image"></a>

                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title" style="text-align:left"> <h3 style="font-size:14px"><strong>@item.Title</strong></h3></div>
                                                        <div class="item-content">
                                                            <div class="price-block">
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">@Html.DisplayFor(itemModel => item.SavePrice)</span> Giảm <strong style="color:#ff1341; font-size:20px">@item.Discount%</strong> </p>
                                                                    <br />
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">@Html.DisplayFor(itemModel => item.UnitPrice)</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> @item.NumBuyer</i></span></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div style="text-align:center">
            <a href="/Home/ViewHotDeal" class="btn btn-primary" style="font-size:16px">Xem tất cả <i class="fa fa-caret-right"></i></a>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="std">
                <div id="border1" class="best-pro col-md-12">
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2><strong>CỬA HÀNG NỔI BẬT</strong></h2>
                        </div>
                        <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4">
                                @foreach (var item in Model.Hotshop)
                                {
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="sale-label sale-top-right">Hot</div>
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product_detail.html" class="product-image"> <img src="~/Images/UserAvatar/@item.Avatar"> </a>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title" style="text-align:left"> <h3 style="font-size:14px"> @item.ShopName </h3></div>
                                                    <div class="item-content">
                                                        <span style="float: left;" class="stars">@item.Rating</span> (@item.Rating)
                                                        <div class="short-description" style="padding-left:10px">
                                                            <p>@item.Address</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <div style="text-align:center">
            <a href="/Home/ViewHotShop" class="btn btn-primary" style="font-size:16px">Xem tất cả <i class="fa fa-caret-right"></i></a>
        </div>
    </div>
    <br />
    
</section>

<script src="~/Scripts/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/parallax.js"></script>
<script src="~/Scripts/js/common.js"></script>
<script src="~/Scripts/js/slider.js"></script>
<script src="~/Scripts/js/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {
        $(".stars").each(function () {

            var val = parseFloat($(this).html());
            console.log(val);

            var size = Math.max(0, (Math.min(5, val))) * 16;

            var $span = $('<span />').width(size);

            $(this).html($span);
        });

            Handlebars.registerHelper("printPrice", function (price) {
                return addDot(price);
            });

            Handlebars.registerHelper("printStart", function (rating) {
                var val = parseFloat(rating);
                var size = Math.max(0, (Math.min(5, val))) * 16;

                var result = "<span style='width:" + size + "px;'/> ";

                return new Handlebars.SafeString(result);
            });
        });

</script>