@model TGVL.Models.ShoppingCart
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")
@*@Scripts.Render("~/bundles/viewdetailjquery")*@

<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart">
                <div class="row">
                    @if (Model.ShoppingCartProducts != null)
                    {
                        <div class="col-md-9">
                            
                            <div class="box">
                                @using (Html.BeginForm("DeliveryAddress", "Home", FormMethod.Post, new { id = "submitFormWithButton" }))
                                {
                                    <div class="table-responsive">
                                        <table id="shopping-cart-table" class="data-table cart-table">
                                            <thead>
                                                <tr>
                                                    @*<th rowspan="1">&nbsp;</th>*@
                                                    <th colspan="2">Sản phẩm trong giỏ hàng: <span class="badge">@Model.ShoppingCartProducts.Count()</span></th>
                                                    <th rowspan="1">Cửa hàng</th>
                                                    <th colspan="1">Đơn giá</th>
                                                    <th>Số lượng</th>
                                                    <th colspan="1">Thành tiền</th>
                                                    <th rowspan="1">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>

                                                @for (int i = 0; i < Model.ShoppingCartProducts.Count(); i++)
                                                {
                                                   
                                                    var id = Model.ShoppingCartProducts[i].Type == "deal" ? Model.ShoppingCartProducts[i].Type + "_" + Model.ShoppingCartProducts[i].DealId : Model.ShoppingCartProducts[i].Type + "_" + Model.ShoppingCartProducts[i].ProductId;
                                                    <tr id="@id">
                                                        <td class="image">
                                                            <a href="#" class="product-image"><img width="60" height="60" src="~/Images/Product/Warehouse/@Model.ShoppingCartProducts[i].Image"></a>
                                                        </td>
                                                        <td>
                                                            <a href="/Deal/Details/@Model.ShoppingCartProducts[i].DealId">@Model.ShoppingCartProducts[i].ProductName</a>
                                                            
                                                            @Html.HiddenFor(modelItem => Model.ShoppingCartProducts[i].ProductName)
                                                        </td>
                                                        <td>
                                                            @Model.ShoppingCartProducts[i].SupplierName
                                                        </td>
                                                        <td class="a-center hidden-table"><span class="cart-price" style="font-size:15px"> <span class="price">@Html.DisplayFor(modelItem => Model.ShoppingCartProducts[i].UnitPrice) / @Model.ShoppingCartProducts[i].UnitType</span> </span></td>
                                                        <td>
                                                            @Html.EditorFor(model => Model.ShoppingCartProducts[i].Quantity, new { htmlAttributes = new { @class = "qty form-control" } })
                                                            @Html.ValidationMessageFor(model => Model.ShoppingCartProducts[i].Quantity, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td>
                                                            <span style="font-size:13px" class="cart-price"> <span class="minitotal"><strong>@Html.DisplayFor(modelItem => Model.ShoppingCartProducts[i].MiniTotal)</strong></span> </span>
                                                            @Html.HiddenFor(modelItem => Model.ShoppingCartProducts[i].MiniTotal)
                                                        </td>

                                                        <td>
                                                            @if (Model.ShoppingCartProducts[i].Type == "deal")
                                                            {
                                                                <a href="javascript:;" onclick="removefromcart('@Model.ShoppingCartProducts[i].Type' , @Model.ShoppingCartProducts[i].DealId)" title="Xóa sản phẩm" class="button remove-item"></a>
                                                            }
                                                            else
                                                            {
                                                                <a href="javascript:;" onclick="removefromcart('@Model.ShoppingCartProducts[i].Type', @Model.ShoppingCartProducts[i].ProductId)" title="Xóa sản phẩm" class="button remove-item"></a>
                                                            }

                                                        </td>
                                                    </tr>
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                            
                                    <div class="box-footer" style="margin-bottom: -1px;">
                                        <div class="pull-left">
                                            <a href="/Home" style="font-size:14px"><i class="fa fa-chevron-left"></i><strong> Tiếp tục mua hàng</strong></a>
                                        </div>
                                        <div class="pull-right">
                                            <button id="checkout" type="submit" class="btn btn-success" style="font-size:20px">
                                                ĐẶT HÀNG <i class="fa fa-chevron-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="popular-posts widget widget__sidebar">
                                <h3 class="widget-title"><strong>THÔNG TIN CHUNG</strong></h3>
                                <div class="table-responsive">
                                    <table class="data-table">
                                        <tbody>
                                            <tr>
                                                <td>Tổng sản phẩm</td>
                                                <td>@Model.ShoppingCartProducts.Count()</td>
                                            </tr>
                                            <tr>
                                                <td>Thành tiền</td>
                                                <td class="total">@Html.DisplayFor(model => model.Total)</td>
                                            </tr>
                                           
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <strong>TỔNG CỘNG</strong>
                                                </td>
                                                <td style="font-size:20px; color:red"><strong><span class="total">@Html.DisplayFor(model => model.Total)</span></strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>

       
    </div>
</section>

@section Scripts {
    
<script>
    $(document).ready(function () {
        var MaxLengthInputNumberSmall = @Model.MaxLengthInputNumberSmall;
        $(".qty").rules("add", {
            maxlength: MaxLengthInputNumberSmall,
            messages: {
                range: "Xin hãy nhập ít hơn " + MaxLengthInputNumberSmall + " số"
            }
        });

        $('input[type="number"]').bind('keypress', function (e) {
            if (e.keyCode == '9' || e.keyCode == '16') {
                return;
            }
            var code;
            if (e.keyCode) code = e.keyCode;
            else if (e.which) code = e.which;
            if (e.which == 46)
                return false;
            if (code == 8 || code == 46)
                return true;
            if (code < 48 || code > 57)
                return false;
        });
        $('.qty').on('input', function () {
            update_amounts_shoppingcart();
            var newQty = $(this).val();
            
            var trId = $(this).closest('tr').attr('id');
            var res = trId.split("_");
            console.log("newQty=" + newQty + ", type=" + res[0] + ", id=" + res[1]);
            updateQuantitySession(newQty, res[0], res[1]);
        });

        function update_amounts_shoppingcart() {
            var sum = 0.0;

            $('#shopping-cart-table > tbody  > tr').each(function () {
                var qty = $(this).find('.qty').val();
                if (qty == null) {
                    qty = $(this).find('.qtyBid').text();
                }
                var price = $(this).find('.price').text();
                var price2 = Number(price.replace(/[^0-9]+/g, ""));

                console.log("qty:" + qty + ", price:" + price + ", price2:" + price2);

                var amount = (qty * price2);
                var miniTotal = addDot(amount);
                $(this).find('.minitotal').html("<strong>" + miniTotal + " &#x20AB;</strong>");
                sum += amount;
            });

            console.log(sum);

            $('.total').html(addDot(sum) + " &#x20AB;");
            //$('.total2').val(total);
        }
    });
</script>
}
