@using TGVL.Models;
@model List<DealBriefViewModel>
@{
    ViewBag.Title = "ViewNewDeal";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

<style>
    .item-img-info {
        width: 250px;
        height: 200px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item-inner {
        width: 250px;
        height: 350px;
        display: block;
        vertical-align: top;
    }

    .col-item {
        width: 100%;
        height: auto;
        padding: 10px;
    }
</style>

<div class="main-container col2-left-layout" style="background:#f4f4f4">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-12">
                <div class="category-title">
                    <h1>DEAL NỔI BẬT</h1>
                </div>
                <div class="category-products">
                    <ul class="products-grid">
                        @foreach(var item in Model)
                        { 
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="new-label new-top-right">Mới</div>
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/Product/SysProduct/@item.Image"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">@item.Title</h3></div>
                                            <div class="item-content">
                                                <div class="price-block" style="text-align:left">
                                                    <div class="price-box">
                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">@Html.DisplayFor(x=>item.SavePrice)</span> Giảm <strong style="color:#ff1341; font-size:20px">@item.Discount%</strong> </p>
                                                        <br />
                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">@Html.DisplayFor(x=>item.UnitPrice)</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> @item.NumBuyer</i></span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        }
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="new-label new-top-right">Mới</div>
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/Product/SysProduct/dongtam.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">Thưởng Thức Dimsum Trưa Và Tối Tại Nhà Hàng Little Hong Kong</h3></div>
                                            <div class="item-content">
                                                <div class="price-block" style="text-align:left">
                                                    <div class="price-box">
                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">89.000</span> Giảm <strong style="color:#ff1341; font-size:20px">5%</strong> </p>
                                                        <br />
                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">78.000</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> 100</i></span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="new-label new-top-right">Mới</div>
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/Product/SysProduct/dongtam.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">Thưởng Thức Dimsum Trưa Và Tối Tại Nhà Hàng Little Hong Kong</h3></div>
                                            <div class="item-content">
                                                <div class="price-block" style="text-align:left">
                                                    <div class="price-box">
                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">89.000</span> Giảm <strong style="color:#ff1341; font-size:20px">5%</strong> </p>
                                                        <br />
                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">78.000</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> 100</i></span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="new-label new-top-right">Mới</div>
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/Product/SysProduct/dongtam.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">Thưởng Thức Dimsum Trưa Và Tối Tại Nhà Hàng Little Hong Kong</h3></div>
                                            <div class="item-content">
                                                <div class="price-block" style="text-align:left">
                                                    <div class="price-box">
                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">89.000</span> Giảm <strong style="color:#ff1341; font-size:20px">5%</strong> </p>
                                                        <br />
                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">78.000</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> 100</i></span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="new-label new-top-right">Mới</div>
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/Product/SysProduct/dongtam.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">Thưởng Thức Dimsum Trưa Và Tối Tại Nhà Hàng Little Hong Kong</h3></div>
                                            <div class="item-content">
                                                <div class="price-block" style="text-align:left">
                                                    <div class="price-box">
                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">89.000</span> Giảm <strong style="color:#ff1341; font-size:20px">5%</strong> </p>
                                                        <br />
                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">78.000</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> 100</i></span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="col-item">
                                <div class="new-label new-top-right">Mới</div>
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="product_detail.html" class="product-image"> <img src="~/Images/Product/SysProduct/dongtam.jpg"> </a>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title" style="text-align:left"> <h3 style="font-size:14px">Thưởng Thức Dimsum Trưa Và Tối Tại Nhà Hàng Little Hong Kong</h3></div>
                                            <div class="item-content">
                                                <div class="price-block" style="text-align:left">
                                                    <div class="price-box">
                                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">89.000</span> Giảm <strong style="color:#ff1341; font-size:20px">5%</strong> </p>
                                                        <br />
                                                        <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">78.000</span> &nbsp; <span class="pull-right" style="font-size:16px"> <i class="fa fa-user"> 100</i></span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>