@model TGVL.Models.SearchResultViewModel

@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
    ViewData["SearchString"] = Model.SearchString;

    if (Session["UnSeenNoti"] != null)
    {
        ViewData["UnSeenNoti"] = Session["UnSeenNoti"];
    }
    else
    {
        ViewData["UnSeenNoti"] = ViewBag.NumOfUnseen;
    }
}

@Styles.Render("~/Content/searchproductcss")

<style>
    .item-img-info {
        width: 250px;
        height: 200px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item-inner {
        width: 250px;
        height: 320px;
        display: block;
        vertical-align: top;
    }

    .col-item {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
    }

    span.stars, span.stars span {
        display: block;
        background: url("/Images/stars.png") 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

        span.stars span {
            background-position: 0 0;
        }

    h3 {
        border-bottom: none 1px rgba(100, 100, 100, .30);
    }

    #deal_border {
        border: 1px solid #eaeaea;
        background: #fff;
    }
</style>

@*<div class="breadcrumbs">
        <div class="container">
            <div>
                <ul>
                    <li class="home"><strong> Trang chủ </strong><span>&raquo;</span></li>
                    <li class=""> <strong>@Model.SysProduct.SysCategory.Name</strong><span>&raquo;</span></li>
                    <li class="category13"><strong> @Model.SysProduct.Name </strong></li>
                </ul>
            </div>
        </div>
    </div>*@

<section class="main-container" style="background:#f4f4f4">
    <div class="main container">
        <div class="col-main">
            <div class="row" id="deal_border">
                <div class="col-md-12">
                    <div class="product-view">
                        <div class="product-essential">
                            <div class="product-img-box col-sm-2 col-xs-12">
                                <div class="product-image">

                                    <img src="~/Images/Product/SysProduct/@Model.SysProduct.Image"/>

                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="product-shop col-sm-10 col-xs-12">
                                <div class="product-name">
                                    <h1 style="font-size:32px">@Model.SysProduct.Name</h1>
                                </div>

                                @*<div class="short-description">
                                        Gạch với chất lượng tốt nhất Việt Nam

                                    </div>*@

                                <div class="price-block">
                                    <div class="price-box">
                                        Có <span class="total"><strong class="price"> @Model.NumOfShops </strong> </span> cửa hàng bán với giá từ: <p class="special-price"> <span class="price-label"> Special Price</span> <span class="price">@string.Format("{0:C0}", Model.SysProduct.UnitPrice)</span> </p>
                                    </div>
                                </div>
                                @*<div class="toggle-content">
                                        <div class="table-responsive">
                                            <table class="data-table col-md-4">
                                                <thead>
                                                    <tr>THÔNG SỐ SẢN PHẨM</tr>
                                                </thead>
                                                @foreach (var item in Model.SysProduct.ProductAttributes)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Attribute)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Value)
                                                    </td>
                                                </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>*@
                            </div>
                            @*<div class="product-shop col-sm-3 col-xs-12">
                                    <div class="popular-posts widget widget__sidebar">
                                        <h3 class="widget-title" style="background:#fff">CÙNG MỨC GIÁ</h3>
                                        <div class="widget-content" style="background:#fff">
                                            <ul class="posts-list unstyled clearfix">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <img src="~/Content/images/xi-mang-fico-pcb40.jpg" width="40" height="70" />
                                                        </div>
                                                        <div class="col-md-10">
                                                            <p>Gạch lát nền DTD1380 GOSAN003 daada</p>
                                                            <p class="post-meta" style="color:#ff1341">
                                                                Giá: <strong>80.000 VNĐ</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <img src="~/Content/images/xi-mang-fico-pcb40.jpg" width="40" height="70" />
                                                        </div>
                                                        <div class="col-md-10">
                                                            <p>Gạch lát nền DTD1380 GOSAN003</p>
                                                            <p class="post-meta" style="color:#ff1341">
                                                                Giá: <strong>80.000 VNĐ</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <img src="~/Content/images/xi-mang-fico-pcb40.jpg" width="40" height="70" />
                                                        </div>
                                                        <div class="col-md-10">
                                                            <p>Gạch lát nền DTD1380 GOSAN003</p>
                                                            <p class="post-meta" style="color:#ff1341">
                                                                Giá: <strong>80.000 VNĐ</strong>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>*@


                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">THÔNG TIN CHI TIẾT</a></li>
                            <li><a href="#tab_2" data-toggle="tab">CỬA HÀNG ĐỀ XUẤT</a></li>
                            <li><a href="#tab_3" id="recomendation" data-toggle="tab">ĐỊA CHỈ CỬA HÀNG</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @Html.Raw(Model.SysProduct.Description)
                            </div>

                            <div class="tab-pane" id="tab_2">
                                <div class="table-responsive">
                                    <table class="data-table">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Cửa hàng</th>
                                                <th>Giá</th>
                                                <th>Đánh giá</th>
                                                <th>Địa chỉ</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int count = 0; }
                                            @foreach (var item in Model.ListShops)
                                            {
                                                count++;
                                                <tr>
                                                    <td>@count</td>
                                                    <td>@item.name</td>
                                                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                                                    <td>
                                                        <span style="float: left;" class="stars">@item.rating</span> (@item.rating)
                                                    </td>
                                                    <td>@item.address</td>
                                                    <td>
                                                        <button type="submit" class="btn btn-success" onclick="datmua(@item.productId)">Thêm vào giỏ hàng</button>
                                                        <button type="submit" class="btn btn-primary" onclick="viewOnMap(@item.lat, @item.lng)">Xem bản đồ</button>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab_3">
                                <div class="bh-sl-container container-fluid">
                                    <div id="bh-sl-map-container" class="bh-sl-map-container">
                                        <div class="row">
                                            <div id="map-results-container" class="container">

                                                <div class="bh-sl-loc-list col-md-3">
                                                    <ul class="list list-unstyled"></ul>
                                                </div>
                                                <div id="bh-sl-map" class="bh-sl-map col-md-9"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                @*<div class="col-sm-3 col-xs-12">
                        <div class="popular-posts widget widget__sidebar">
                            <h3 class="widget-title">CÙNG NHÀ SẢN XUẤT</h3>
                            <div class="widget-content">
                                <ul class="posts-list unstyled clearfix">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="~/Content/images/xi-mang-fico-pcb40.jpg" width="40" height="70" />
                                            </div>
                                            <div class="col-md-10">
                                                <p>Gạch lát nền DTD1380 GOSAN003 daada</p>
                                                <p class="post-meta" style="color:#ff1341">
                                                    Giá: <strong>80.000 VNĐ</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="~/Content/images/xi-mang-fico-pcb40.jpg" width="40" height="70" />
                                            </div>
                                            <div class="col-md-10">
                                                <p>Gạch lát nền DTD1380 GOSAN003</p>
                                                <p class="post-meta" style="color:#ff1341">
                                                    Giá: <strong>80.000 VNĐ</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="~/Content/images/xi-mang-fico-pcb40.jpg" width="40" height="70" />
                                            </div>
                                            <div class="col-md-10">
                                                <p>Gạch lát nền DTD1380 GOSAN003</p>
                                                <p class="post-meta" style="color:#ff1341">
                                                    Giá: <strong>80.000 VNĐ</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
            </div>
            <br />

            <div class="row">
                <div class="std">
                    <div id="border1" class="best-pro col-md-12">
                        <div class="slider-items-products">
                            <div class="new_title center">
                                <h2><strong>SẢN PHẨM TƯƠNG TỰ</strong></h2>
                            </div>
                            <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4">
                                    @foreach (var item in Model.SimiliarProducts)
                                    {
                                        <div class="item">
                                            <div class="col-item">
                                                <div class="item-inner">
                                                    <div class="item-img">
                                                        <div class="item-img-info">
                                                            <a href="javascript:;" class="product-image" onclick="viewProductDetails(@item.Id)"> <img src="~/Images/Product/SysProduct/@item.Image"></a>
                                                            @*<img src="~/Images/Product/SysProduct/@item.Image" class="product-image"/>*@
                                                        </div>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="info-inner">
                                                            <div class="item-title" style="text-align:center">
                                                                @*<a href="product_detail.html" title="Thép cây vằn Pomina D12"> Thép cây vằn Pomina D12 </a>*@
                                                                <a href="javascript:;" onclick="viewProductDetails(@item.Id)" style="font-size:17px">@item.Name</a>
                                                            </div>
                                                            <div class="item-content">
                                                                <div class="item-price" style="text-align:center">
                                                                    <div class="price-box">
                                                                        <span class="regular-price"> <span class="price" style="font-size:20px">@string.Format("{0:C0}", @item.UnitPrice)</span> </span>
                                                                    </div>
                                                                </div>
                                                                <div class="short-description" style="padding-left:10px;text-align:center">
                                                                    <p>Có <strong class="price">@item.NumShops</strong> cửa hàng bán </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <br />

</section>

<div id="mua_ngay" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left:0%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <div id="bodyinfo"></div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Đồng ý" class="btn btn-success" id="mua_ngay_btn" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>

<div id="maps" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left:0%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bản đồ</h4>
            </div>
            <div class="modal-body">
                <div id="mapsInfo">

                </div>
            </div>
        </div>

    </div>
</div>


@*<script src="~/Scripts/js/jquery.min.js"></script>*@
<script src="~/Scripts/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/parallax.js"></script>
<script src="~/Scripts/js/common.js"></script>
<script src="~/Scripts/js/slider.js"></script>
<script src="~/Scripts/js/owl.carousel.min.js"></script>
<script src="~/Scripts/handlebars.min.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyBO_d9y7dn40gSnQs0ZQRhClFpFDQKqzjM&region=VN"></script>

<script src="~/Scripts/jquery.storelocator.js"></script>

<script>
    $(document).ready(function () {
        $(".stars").each(function () {

            var val = parseFloat($(this).html());
            console.log(val);

            var size = Math.max(0, (Math.min(5, val))) * 16;

            var $span = $('<span />').width(size);

            $(this).html($span);
        });

        $("#mua_ngay_btn").click(function (event) {
            swal("Thành công!", "Sản phẩm đã được thêm vào giỏ hàng", "success")
        });

        $("#recomendation").click(function (event) {

            $('#bh-sl-map-container').storeLocator({
                'mapSettings': {
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    //disableDoubleClickZoom: true,
                    scrollwheel: false,
                    navigationControl: false,
                    draggable: true
                },
                'dataType': 'json',
                'dataLocation': '/Store/@Session["FilenameJson"]_.json',
                'lengthUnit': 'km',
                'autoGeocode': true,
                'originMarker': true,
                'originMarkerImg': '/Images/marker-home.png'
            });

            Handlebars.registerHelper("printPrice", function (price) {
                return addDot(price);
            });

            Handlebars.registerHelper("printStart", function (rating) {

                var val = parseFloat(rating);
                var size = Math.max(0, (Math.min(5, val))) * 16;

                var result = "<span style='width:" + size + "px;'/> ";

                return new Handlebars.SafeString(result);
            });
        });



    });


</script>


