<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/notification")
    @Scripts.Render("~/bundles/modernizr")

</head>
@using Microsoft.AspNet.Identity

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: white">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    

    @Scripts.Render("~/bundles/otf2")
    @Scripts.Render("~/signalr/hubs")



    <script>
        $(document).ready(function () {
            
            
            // HIDE NOTIFICATIONS WHEN CLICKED ANYWHERE ON THE PAGE.
            $(document).click(function () {
                $('#notifications').hide();
            });

            // Click on notification icon for show notification
            $('#noti_Button').click(function (e) {
                e.stopPropagation();
                //$('.noti-content').show();
                var count = 0;

                count = parseInt($('div.count').html()) || 0;
                console.log(count);

                $('#notifications').fadeToggle('fast', 'linear', function () {
                    $('#notiContent').empty();
                    if ($('#notifications').is(':visible')) {
                        updateNotification();
                    }
                });

                $('#noti_Counter').fadeOut('slow');
                
                
                
            })

           

            // update notification
            function updateNotification() {
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetNotificationReplies", "Home")',
                    success: function (response) {
                        $('#notiContent').empty();
                        if (response.length == 0) {
                            $('#notiContent').append($('<li>No data available</li>'));
                        }
                        $.each(response, function (index, value) {
                            $('#notiContent').append($('<li>New reply by : ' + value.Supplier + ' at : ' + new Date(parseInt(value.CreatedDate.substr(6))).format("dd/mm/yyyy HH:MM:ss") + '</li>'));
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            // update notification count
            function updateNotificationCount() {
                var count = 0;
                count = parseInt($('div.count').html()) || 0;
                count++;
                console.log(count);
                //$('span.count').html(count);

                // ANIMATEDLY DISPLAY THE NOTIFICATION COUNTER.
                $('#noti_Counter')
                    .css({ opacity: 0 })
                    .text(count)              
                    .css({ top: '-10px' })
                    .animate({ top: '10px', opacity: 1 }, 500)
                    .fadeIn('slow');

            }

            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                notificationHub.server.joinGroup("@User.Identity.GetUserName()");
                console.log('Notification hub started');
            });
            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() === "added") {
                    updateNotificationCount();
                }
            };
        });


    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
