<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*Gentelella Template*@
    @Styles.Render("~/Content/customcss")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Content/productcss")*@

</head>
@using Microsoft.AspNet.Identity

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @if (Request.IsAuthenticated)
            {
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="clearfix"></div>
                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="~/Images/UserAvatar/Admin1.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>@User.Identity.GetUserName()</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />
                        <!-- sidebar menu -->
                        @{
                            if (User.IsInRole("Supplier"))
                            {
                                @Html.Partial("~/Views/Shared/_HomePageViewLayout.cshtml")
                            }
                            else
                            {
                                @Html.Partial("~/Views/Shared/_CustomerSidebarMenu.cshtml")
                            }
                        }
                        
                        <!-- /sidebar menu -->
                    </div>
                </div>
            }

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        @if (Request.IsAuthenticated)
                        {
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                        <!-- top navigation - user login -->

                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <img src="~/Images/UserAvatar/Admin1.jpg" alt="">@User.Identity.GetUserName()
                                            <span class="fa fa-angle-down"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                                            <li>
                                                @*<a href="javascript:;"> Profile</a>*@
                                                @Html.ActionLink(" Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="badge bg-red pull-right">50%</span>
                                                    <span>Settings</span>
                                                </a>
                                            </li>
                                            <li><a href="javascript:;">Help</a></li>
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            </ul>
                        }
                        
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <footer>
                <div class="pull-right">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>


    @*Gentelella Template*@
    @*@Scripts.Render("~/bundles/productjquery")*@

    @Scripts.Render("~/bundles/otf")
    
    @RenderSection("scripts", required: false)
</body>
</html>
