<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THẾ GIỚI VẬT LIỆU</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/mainpagecss")
    @*@Scripts.Render("~/bundles/mainpagejquery")*@
 

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: Roboto, sans-serif;
        }

        #top-header {
            background: #F3F3F3;
            border-bottom: 2px solid #FFFFFF;
            height: 35px;
        }

        #searchForm {
            width: 85%;
            padding: 11px 20px;
            font-size: 14px;
        }
    </style>

</head>
@using Microsoft.AspNet.Identity
<body class="cms-index-index">

    <div class="page">
        <!-- Header -->
        <header class="header-container">
            <div id="top-header" class="header-top">
                <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #f6f6f6">
                    <div class="container">
                        <div class="navbar-header">
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav" style="width: 250px;float: right;">
                                @*Chỉnh header float right*@
                                <li>@Html.Partial("_LoginPartial")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @Html.Partial("_SearchPartial")
        </header>
        <!-- end header -->
        <!-- Navbar -->
        <nav>
            <div class="container">
                <div class="nav-inner">
                    <ul id="nav" class="hidden-xs">
                        <li class="level0 nav-8 level-top"> <a href="grid.html" class="level-top"> <span><strong>Trang chủ</strong></span> </a> </li>
                        <li class="level0 parent drop-menu">
                            <a href="#"><span>SÀN</span> </a>
                            <ul style="display: none;" class="level1">
                                <li class="level1 first"><a href="grid.html"><span>ĐẤU THẦU</span></a></li>
                                <li class="level1 nav-10-2"> <a href="list.html"> <span>MUA THƯỜNG</span> </a> </li>

                            </ul>
                        </li>
                        @*<li class="level0 parent drop-menu">
                                <a href="#"><span>GẠCH</span> </a>
                                <ul style="display: none;" class="level1">
                                    <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>
                                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="checkout.html"><span>Checkout</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a></li>
                                            <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                                    <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                                    <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                                    <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>
                                    <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>
                                    <li class="level1"> <a href="compare.html"> <span>Compare</span> </a> </li>
                                    <li class="level1"> <a href="delivery.html"> <span>Delivery</span> </a> </li>
                                    <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                                    <li class="level1"> <a href="quick_view.html"> <span>Quick view </span> </a> </li>
                                    <li class="level1"> <a href="newsletter.html"> <span>Newsletter</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="blog.html"><span>Blog</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>
                                    <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                                </ul>
                            </li>
                            <li class="level0 parent drop-menu">
                                <a href="#"><span>THÉP</span> </a>
                                <ul style="display: none;" class="level1">
                                    <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>
                                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="checkout.html"><span>Checkout</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a></li>
                                            <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                                    <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                                    <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                                    <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>
                                    <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>
                                    <li class="level1"> <a href="compare.html"> <span>Compare</span> </a> </li>
                                    <li class="level1"> <a href="delivery.html"> <span>Delivery</span> </a> </li>
                                    <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                                    <li class="level1"> <a href="quick_view.html"> <span>Quick view </span> </a> </li>
                                    <li class="level1"> <a href="newsletter.html"> <span>Newsletter</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="blog.html"><span>Blog</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>
                                    <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                                </ul>
                            </li>
                            <li class="level0 parent drop-menu">
                                <a href="#"><span>ĐÁ</span> </a>
                                <ul style="display: none;" class="level1">
                                    <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>
                                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="checkout.html"><span>Checkout</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a></li>
                                            <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                                    <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                                    <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                                    <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>
                                    <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>
                                    <li class="level1"> <a href="compare.html"> <span>Compare</span> </a> </li>
                                    <li class="level1"> <a href="delivery.html"> <span>Delivery</span> </a> </li>
                                    <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                                    <li class="level1"> <a href="quick_view.html"> <span>Quick view </span> </a> </li>
                                    <li class="level1"> <a href="newsletter.html"> <span>Newsletter</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="blog.html"><span>Blog</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>
                                    <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                                </ul>
                            </li>
                            <li class="level0 parent drop-menu">
                                <a href="#"><span>CÁT</span> </a>
                                <ul style="display: none;" class="level1">
                                    <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>
                                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="checkout.html"><span>Checkout</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a></li>
                                            <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                                    <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                                    <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                                    <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>
                                    <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>
                                    <li class="level1"> <a href="compare.html"> <span>Compare</span> </a> </li>
                                    <li class="level1"> <a href="delivery.html"> <span>Delivery</span> </a> </li>
                                    <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                                    <li class="level1"> <a href="quick_view.html"> <span>Quick view </span> </a> </li>
                                    <li class="level1"> <a href="newsletter.html"> <span>Newsletter</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="blog.html"><span>Blog</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>
                                    <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                                </ul>
                            </li>
                            <li class="level0 parent drop-menu">
                                <a href="#"><span>NGÓI</span> </a>
                                <ul style="display: none;" class="level1">
                                    <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>
                                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="checkout.html"><span>Checkout</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a></li>
                                            <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                                    <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                                    <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                                    <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>
                                    <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>
                                    <li class="level1"> <a href="compare.html"> <span>Compare</span> </a> </li>
                                    <li class="level1"> <a href="delivery.html"> <span>Delivery</span> </a> </li>
                                    <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                                    <li class="level1"> <a href="quick_view.html"> <span>Quick view </span> </a> </li>
                                    <li class="level1"> <a href="newsletter.html"> <span>Newsletter</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="blog.html"><span>Blog</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>
                                    <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                                </ul>
                            </li>
                            <li class="level0 parent drop-menu">
                                <a href="#"><span>CÁP ĐIỆN</span> </a>
                                <ul style="display: none;" class="level1">
                                    <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>
                                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="checkout.html"><span>Checkout</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a></li>
                                            <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                                    <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                                    <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                                    <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>
                                    <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>
                                    <li class="level1"> <a href="compare.html"> <span>Compare</span> </a> </li>
                                    <li class="level1"> <a href="delivery.html"> <span>Delivery</span> </a> </li>
                                    <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                                    <li class="level1"> <a href="quick_view.html"> <span>Quick view </span> </a> </li>
                                    <li class="level1"> <a href="newsletter.html"> <span>Newsletter</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="blog.html"><span>Blog</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>
                                    <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                                </ul>
                            </li>
                            <li class="level0 parent drop-menu">
                                <a href="#"><span>VÁN SÀN</span> </a>
                                <ul style="display: none;" class="level1">
                                    <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>
                                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="checkout.html"><span>Checkout</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a></li>
                                            <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                                    <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                                    <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                                    <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>
                                    <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>
                                    <li class="level1"> <a href="compare.html"> <span>Compare</span> </a> </li>
                                    <li class="level1"> <a href="delivery.html"> <span>Delivery</span> </a> </li>
                                    <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                                    <li class="level1"> <a href="quick_view.html"> <span>Quick view </span> </a> </li>
                                    <li class="level1"> <a href="newsletter.html"> <span>Newsletter</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="blog.html"><span>Blog</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>
                                    <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                                </ul>
                            </li>
                            <li class="level0 parent drop-menu">
                                <a href="#"><span>SƠN</span> </a>
                                <ul style="display: none;" class="level1">
                                    <li class="level1 first"><a href="grid.html">Grid</a></li>
                                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>
                                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="checkout.html"><span>Checkout</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="checkout_method.html"><span>Checkout Method</span></a></li>
                                            <li class="level2 nav-2-1-5 last"><a href="checkout_billing_info.html"><span>Checkout Billing Info</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                                    <li class="level1"> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                                    <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                                    <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>
                                    <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>
                                    <li class="level1"> <a href="compare.html"> <span>Compare</span> </a> </li>
                                    <li class="level1"> <a href="delivery.html"> <span>Delivery</span> </a> </li>
                                    <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>
                                    <li class="level1"> <a href="quick_view.html"> <span>Quick view </span> </a> </li>
                                    <li class="level1"> <a href="newsletter.html"> <span>Newsletter</span> </a> </li>
                                    <li class="level1 first parent">
                                        <a href="blog.html"><span>Blog</span></a>
                                        <ul class="level2">
                                            <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>
                                    <li class="level1"><a href="404error.html"><span>404 Error Page</span></a> </li>
                                </ul>
                            </li>*@

                    </ul>

                </div>
            </div>
        </nav>

        @RenderBody()
        <!-- End main container -->
        <!-- Footer -->
        <footer class="footer">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 coppyright"> &copy; 2017 BMW</div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>



    <div id="messageModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="left:0%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body" style="min-height:calc(100vh - 210px);max-height: calc(100vh - 210px);overflow-y: auto;">
                    <div id="message"></div>
                </div>
                @*<div class="modal-footer">
                        <input type="button" value="Hoàn tất" class="btn btn-success" id="submit-btn-reply" style="display:none" />
                        <input type="button" value="Hoàn tất" class="btn btn-success" id="submit-btn-edit" style="display:none" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>*@
            </div>

        </div>
    </div>

</body>


</html>







