@model IEnumerable<TGVL.Manufacturer>

@{
    ViewBag.Title = "QUẢN LÝ NHÀ SẢN XUẤT";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="#">Quản lý nhà sản xuất</a></li>
</ul>

<p>
    @Html.ActionLink("Thêm mới nhà sản xuất", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-striped table-bordered bootstrap-datatable datatable">
    <tr>
        <th>
            Nhà sản xuất
        </th>
        <th>
            Logo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <div width="50px" height="50px"><img src="@Url.Content("~/Areas/Admin/Content/img/manufacturer/" + item.Image)" /></div>
        </td>
        <td> 
            <a href="@Url.Action("Edit", "Manufacturers", new { Id = item.Id },null)" class="btn btn-success">
                <i class="halflings-icon white zoom-in"></i>
            </a>
            <a href="@Url.Action("Delete", "Manufacturers", new { Id = item.Id },null)" class="btn btn-danger">
                <i class="halflings-icon white trash"></i>
            </a>
        </td>
    </tr>
}

</table>
