@model TGVL.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}


<section class="login_content">

    <!--Register form-->
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" , id= "registerForm" }))
    {
        @Html.AntiForgeryToken()

        <h1>Adding Personal Information</h1>
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            </div>
            <div>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
            </div>
            <div>
                @Html.HiddenFor(m => m.RegisterType)
            </div>
            <div>
                <a class="btn btn-default submit" href="javascript:document.getElementById('registerForm').submit()">Submit</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <p class="change_link">
                    @Html.ActionLink("Already a member? Log in", "Login", null, new { @class = "to_register" })
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><i class="fa fa-paw"></i> Thegioivatlieu</h1>
                    <p>&copy; @DateTime.Now.Year All Rights Reserved. Privacy and Terms</p>
                </div>
            </div>
    }

    <!--Register form-->

</section>



<style>
    .login_content h1:before {
        background: none;
    }
    .login_content h1:after {
        background: none;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
