@using TGVL.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="animate form login_form">
    <section class="login_content">

        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl, RegisterType = ViewBag.RegisterType })

        <!--Register form-->
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" , id="registerForm"}))
        {
            @Html.AntiForgeryToken()

            <h1>Create Account</h1>
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , placeholder = "Email" })
            </div>
            <div>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
            </div>
            <div>
                @Html.HiddenFor(m => m.RegisterType)
            </div>
            <div>
                <a class="btn btn-default submit" href="javascript:document.getElementById('registerForm').submit()">Submit</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <p class="change_link">
                    @*<a href="#signin" class="to_register"> Log in </a>*@
                    @Html.ActionLink("Already a member? Log in", "Login", null, new { @class = "to_register" })
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><i class="fa fa-paw"></i> Thegioivatlieu</h1>
                    <p>&copy; @DateTime.Now.Year All Rights Reserved. Privacy and Terms</p>
                </div>
            </div>
        }

        <!--Register form-->

    </section>
</div>




@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
