@using TGVL.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@Styles.Render("~/Content/loginformcss")

<style>
    #login {
        border-radius: 25px;
        background: rgba(216, 231, 195,0.5);
        padding: 20px;
    }
</style>

<div id="login" class="animate form login_form" style="margin-top: -55px;">
    <section class="login_content">

        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl, RegisterType = ViewBag.RegisterType, RegOrLog = "Đăng ký" })

        <!--Register form-->
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registerForm" }))
        {
            @Html.AntiForgeryToken()

            <h1 style="color:black"><strong>ĐĂNG KÝ</strong></h1>
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            </div>
            <div>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Tên đăng nhập" })
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
            </div>
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Xác nhận mật khẩu" })
            </div>
            <div>
                @Html.HiddenFor(m => m.RegisterType)
            </div>



            <div class="clearfix"></div>

            <div class="separator">
                @*<p class="change_link">

                        @Html.ActionLink("Đã là thành viên, Đăng nhập", "Login", null, new { @class = "to_register" })
                    </p>*@

                <div class="clearfix"></div>
                <br />

                <div>
                    @*<h1><i class="fa fa-home"></i> THẾ GIỚI VẬT LIỆU</h1>*@
                    @*<p>&copy; @DateTime.Now.Year All Rights Reserved. Privacy and Terms</p>*@
                </div>
            </div>
            <div>
                <input type="submit" value="Đăng ký" class="btn btn-warning" style="font-size: 12px; margin: 0px 15px 5px 0; float: none;" />
            </div>
        }

        <!--Register form-->

    </section>
</div>




@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
