@model TGVL.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<style>
    #reset{
        border-radius: 25px;
        background: rgba(216, 231, 195,0.5);
        padding: 20px;
    }
</style>

<h2><strong>Đổi mật khẩu</strong></h2>
<div id="reset">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Vui lòng nhập mật khẩu mới của bạn</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label",  })*@
            <label class="control-label"> Email</label>
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
            <label class="control-label"> Mật khẩu </label>
            <div >
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label"> Xác nhận mật khẩu </label>
            @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
            <div >
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-warning" value="Gửi" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
