@model TGVL.Models.DealDetailsViewModel

@{
    ViewBag.Title = "DealDetail";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";

    List<Warehouse> ListShop = ViewBag.ListShop;
}

@Styles.Render("~/Content/searchproductcss")

<style>
    .item-img-info {
        width: 250px;
        height: 220px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item-inner {
        width: 250px;
        height: 350px;
        display: block;
        vertical-align: top;
    }

    .col-item {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
    }

    h3 {
        border-bottom: none 1px rgba(100, 100, 100, .30);
    }

    #deal_border {
        border: 1px solid #eaeaea;
        background: #fff;
    }

    #time {
        border-left: 1px solid #eaeaea;
        padding-left: 20px;
    }

    .more_item {
        position: absolute;
        /*top:10px;*/
        right: 10px;
        height: 28px;
        padding: 4px 10px;
        margin-top: -150px;
        /*margin-top:10px;*/
        background: rgba(0, 0, 0, 0.55);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .item-box-hover {
        opacity: 0;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 0 10px;
        color: #fff;
        z-index: 5;
    }

    .view .view_detail {
        padding: 6px 12px;
        width: 110px;
        height: 34px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -55px;
        margin-top: -80px;
        line-height: 22px;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        background: #73bc28;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .deal_discount {
        display: inline-block;
        width: 55px;
        height: 24px;
        padding: 0 2px 0 10px;
        line-height: 25px;
        background: url("/Images/discount.svg") no-repeat;
        background-size: contain;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        vertical-align: text-top;
        margin-left: 10px;
        vertical-align: 4px;
    }

    .btn-sold-out {
        min-width: 175px;
        background: #ed1c24 no-repeat 12px 50%;
        background-size: 28px 28px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
    }
</style>

<section class="main-container" style="background:#f4f4f4">
    <div class="main container">
        <div class="col-main">
            <div class="row" id="deal_border">
                <div class="col-md-12">
                    <div class="product-view">
                        <div class="product-essential">
                            <div class="product-img-box col-sm-4 col-xs-12">
                                <div class="product-image">
                                    <div>
                                        <img src="~/Images/Product/Warehouse/@Model.ProductImage" width="100" height="100" />
                                    </div>
                                </div>

                                <div class="clear"></div>
                            </div>
                            <div class="product-shop col-sm-8 col-xs-12">
                                <div class="product-name">
                                    @{
                                        var message = "";
                                        message = Model.Expired ? "(Expired)" : "";
                                    }
                                    <h1>@Model.Title <span id="expired">@message</span></h1>
                                </div>
                                <div class="short-description">
                                    <p>
                                        @Model.ShortDescription
                                    </p>
                                    <p>
                                        Còn lại: <span id="quantity-remain" style="font-size:24px">@Model.Quantity</span> @Model.UnitType
                                    </p>
                                </div>
                                <hr />
                                <div class="price-block">
                                    <div class="price-box">
                                        <p class="old-price"> Giá gốc: <span class="price-label">Regular Price:</span> <span class="price"> @Html.DisplayFor(model => model.UnitPrice)/@Model.UnitType </span> </p>
                                        <br />
                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> @Html.DisplayFor(model => model.PriceSave)/@Model.UnitType</span> <span class="deal_discount">@Model.Discount%</span></p>
                                    </div>
                                </div>
                                <hr />
                                @if (!Model.Expired)
                                {
                                    <div class="add-to-box">
                                        @using (Ajax.BeginForm("AddToCart",
new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "updateCart(data, status, xhr)"
}
))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.Id)
                                            @Html.HiddenFor(model => model.Quantity)
                                            <div class="add-to-cart">
                                                <label>Số lượng :</label>
                                                @Html.EditorFor(model => model.CustomerQuantity, new { htmlAttributes = new { @style = "padding:4px 10px" } })
                                                @Html.ValidationMessageFor(model => Model.CustomerQuantity, "", new { @class = "text-danger" })
                                            </div>
                                            <div>
                                                <button type="submit" class="button btn-cart" style="font-size:20px"><span>THÊM VÀO GIỎ HÀNG</span></button>
                                            </div>
                                            <br />


                                        }
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <button type="button" class="btn btn-sold-out">HẾT HẠN</button>
                                    </div>
                                    <br />
                                }
                                <br />
                                <br />
                                <div class="toggle-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="fa fa-user-circle-o"></i> &nbsp; <span id="num-buyer" style="font-size:18px">@Model.NumBuyer</span> <span style="font-size:18px">người đã mua</span>
                                        </div>
                                        <div class="col-md-8">
                                            <div id="time" class="more_item">
                                                @*<span id="countdown-2">
                                                    </span>*@
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; <span class="count-down" data-time="@Model.DueDateCountdown" style="font-size:18px"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-main col-sm-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">THÔNG TIN CHI TIẾT</a></li>

                            <li><a href="#tab_2" id="showmap" data-toggle="tab">ĐỊA CHỈ CỬA HÀNG</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @Html.Raw(Model.Description)
                            </div>

                            <div class="tab-pane" id="tab_2" style="height:400px;width:815px">
                                <div id="map_canvas" class="mapping" style="width: 100%;height:100%;"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-right sidebar col-sm-3">
                    <div class="popular-posts widget widget__sidebar" style="background:#fff">
                        <h3 class="widget-title" style="background:#fff">ĐỊA CHỈ</h3>
                        <div class="widget-content">
                            @foreach (var item in ListShop)
                            {
                                <p style="font-size:medium;margin-right:5px"><i class="fa fa-map-marker"> @item.Address </i></p>
                            }

                        </div>
                    </div>
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2><strong>DEAL TƯƠNG TỰ</strong></h2>
                        </div>
                        <div class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col3">
                                @{
    if (Model.SimilarDeals != null)
    {
        foreach (var item in Model.SimilarDeals)
        {
                                    <div class="item" style="padding-bottom:10px">
                                        <div class="col-item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="/Deal/Details/@item.Id" class="product-image"> <img src="~/Images/Product/Warehouse/@item.Image"></a>
                                                        <div class="item-box-hover">
                                                            <div class="more_item">
                                                                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; <span class="count-down" data-time="@item.DueDateCountdown" style="font-size:13px"></span>
                                                            </div>
                                                            <span class="view"><a class="view_detail" href="/Deal/Details/@item.Id">Xem ngay</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <h3 href="#" style="font-size:14px;border-bottom:solid 1px rgba(100, 100, 100, .30);"> @item.Title </h3> </div>
                                                        <div class="item-content">
                                                            <div class="price-block">
                                                                <div class="price-box" style="margin-top:10px">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px"> @Html.DisplayFor(itemModel => item.UnitPrice)</span> <span class="deal_discount">@item.Discount%</span></p>
                                                                    <br />
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px"> @Html.DisplayFor(itemModel => item.PriceSave) </span> &nbsp; <span class="pull-right"> <i class="fa fa-user-circle-o"> @item.NumBuyer </i></span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                        }
                                    }
                                }

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="category-title">
                        <h1><strong>DEAL CÙNG NHÀ CUNG CẤP</strong></h1>
                    </div>
                    <div class="category-products">
                        <ul class="products-grid">
                            @if (Model.SameSuppliers != null)
                            {
                                foreach (var item in Model.SameSuppliers)
                                {
                                    <li class="item col-sm-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="col-item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="/Deal/Details/@item.Id" class="product-image"> <img src="~/Images/Product/Warehouse/@item.Image"> </a>
                                                        <div class="item-box-hover">
                                                            <div class="more_item">
                                                                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; <span class="count-down" data-time="@item.DueDateCountdown" style="font-size:13px"></span>
                                                            </div>
                                                            <span class="view"><a class="view_detail" href="/Deal/Details/@item.Id">Xem ngay</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title" style="text-align:left"> <h3 style="font-size:14px;border-bottom:solid 1px rgba(100, 100, 100, .30);">@item.Title</h3></div>
                                                        <div class="item-content">
                                                            <div class="price-block" style="margin-top:10px;text-align:left">
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:20px">@Html.DisplayFor(itemModel => item.UnitPrice)</span> <span class="deal_discount">@item.Discount%</span></p>
                                                                    <br />
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px">@Html.DisplayFor(itemModel => item.PriceSave)</span> &nbsp; <span class="pull-right"> <i class="fa fa-user-circle-o"> @item.NumBuyer</i></span></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

            @*<div class="popular-posts widget widget__sidebar">
                    <h3 class="widget-title">THÔNG TIN CHI TIẾT</h3>
                    <div class="widget-content">
                        @Html.Raw(Model.ProductDetails)
                    </div>
                </div>*@
            <br />
        </div>

    </div>
</section>
@Scripts.Render("~/bundles/clockjquery")


<script src="~/Scripts/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/parallax.js"></script>
<script src="~/Scripts/js/common.js"></script>
<script src="~/Scripts/js/slider.js"></script>
<script src="~/Scripts/js/owl.carousel.min.js"></script>
@*@RenderSection("scripts", required: false)*@
<script>
    function myMap() {
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap'
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        map.setTilt(45);

        var markers = [@Html.Raw(string.Join(", ", (string[])ViewBag.Result))];
        var infoWindowContent = [@Html.Raw(string.Join(", ", (string[])ViewBag.Info))];

        var infoWindow = new google.maps.InfoWindow(), marker, i;

        for (i = 0; i < markers.length; i++) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            map.fitBounds(bounds);
        }
        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
            this.setZoom(12);
            google.maps.event.removeListener(boundsListener);
        });
    };


    //var date = getRelativeDate(02, 01, 10);
    //console.log(date);

    var test = new Date("@Model.DueDateCountdown");
    console.log(test);

    //$('#countdown-2').timeTo(test, function () {
    //    alert('Hello');
    //});

    $('#countdown-2').timeTo({
        timeTo: test,
        displayDays: 2,
        theme: "black",
        displayCaptions: true,
        fontSize: 24,
        captionSize: 16
    });

    function getRelativeDate(days, hours, minutes) {
        var date = new Date((new Date()).getTime() + 60000 /* milisec */ * 60 /* minutes */ * 24 /* hours */ * days /* days */);

        date.setHours(hours || 0);
        date.setMinutes(minutes || 0);
        date.setSeconds(0);

        return date;
    }

    $(document).ready(function () {
        $("#showmap").click(function (event) {
            console.log("show");
            document.getElementById("tab_2").style.display = "block";
            myMap();
        });

        $('input').bind("cut copy paste", function (e) {
            e.preventDefault();
        });

        $('input[type="number"]').bind('keypress', function (e) {
            if (e.keyCode == '9' || e.keyCode == '16') {
                return;
            }
            var code;
            if (e.keyCode) code = e.keyCode;
            else if (e.which) code = e.which;
            if (e.which == 46)
                return false;
            if (code == 8 || code == 46)
                return true;
            if (code < 48 || code > 57)
                return false;
        });

        var remainQuatity = Number($("#quantity-remain").text().replace(/[^0-9]+/g, ""));
        console.log("hello:" + remainQuatity);
        var expired = "@Model.Expired";
        if (expired == "False") {
            console.log(remainQuatity);
            $("#CustomerQuantity").rules("add", {
                range: [1, remainQuatity],
                messages: {
                    range: "Số lượng phải từ 1 đến " + remainQuatity
                }
            });
        }


    });

    $(document).ready(function () {
        clock();
    });

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO_d9y7dn40gSnQs0ZQRhClFpFDQKqzjM&callback=myMap" async defer>

</script>


