@model TGVL.Models.DealDetailsViewModel

@{
    ViewBag.Title = "DealDetail";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")
@*@Scripts.Render("~/bundles/viewdetailjquery")*@


<style>
    .item-img-info {
        width: 250px;
        height: 200px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .item-inner {
        width: 250px;
        height: 300px;
        display: inline-block;
        vertical-align: top;
    }

    #test {
        border: 1px solid #eaeaea;
        background: #fff;
    }

    #time {
        border-left: 1px solid #eaeaea;
        padding-left: 20px;
    }
</style>

<section class="main-container" style="background:#eee">
    <div class="main container">
        <div class="col-main">
            <div class="row" id="test">
                <div class="col-md-12">
                    <div class="product-view">
                        <div class="product-essential">
                            <div class="product-img-box col-sm-4 col-xs-12">
                                <div class="product-image">
                                    <div>
                                        <img src="~/Images/Product/Warehouse/@Model.ProductImage" width="100" height="100" />
                                    </div>
                                    @*<div class="flexslider flexslider-thumb">
                                            <ul class="previews-list slides">
                                                <li><a href="~/Content/images/gachbong.jpg" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '~/Content/images/gachbong.jpg' "><img src="~/Content/images/gachbong.jpg" alt="Thumbnail 1" /></a></li>
                                                <li><a href='~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' "><img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Thumbnail 2" /></a></li>
                                                <li><a href='~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' "><img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Thumbnail 1" /></a></li>
                                                <li><a href='~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' "><img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Thumbnail 2" /></a></li>
                                                <li><a href='~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg' "><img src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg" alt="Thumbnail 2" /></a></li>
                                            </ul>
                                        </div>*@
                                </div>

                                <div class="clear"></div>
                            </div>
                            <div class="product-shop col-sm-8 col-xs-12">
                                <div class="product-name">
                                    @{
                                        var message = "";
                                        message = Model.Expired ? "(Expired)" : "";
                                    }
                                    <h1>@Model.Title <span id="expired">@message</span></h1>
                                </div>
                                <div class="short-description">
                                    <p>
                                        @Model.ShortDescription
                                    </p>
                                    <p>
                                        Còn lại: <span id="quantity-remain" style="font-size:24px">@Model.Quantity</span> @Model.UnitType
                                    </p>
                                </div>
                                <hr />
                                <div class="price-block">
                                    <div class="price-box">
                                        <p class="old-price"> Giá gốc: <span class="price-label">Regular Price:</span> <span class="price"> @Html.DisplayFor(model => model.UnitPrice)/@Model.UnitType </span> </p>
                                        <br />
                                        <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> @Html.DisplayFor(model => model.PriceSave)/@Model.UnitType</span> Giảm <strong style="color:#ff1341; font-size:24px">@Model.Discount %</strong> </p>
                                    </div>
                                </div>
                                <hr />
                                @if (!Model.Expired)
                                {
                                <div class="add-to-box">
                                    @using (Ajax.BeginForm("AddToCart",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "updateCart(data, status, xhr)"
                }
                ))
                                        {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.HiddenFor(model => model.Quantity)
                                        <div class="add-to-cart">
                                            <label>Số lượng :</label>
                                            @Html.EditorFor(model => model.CustomerQuantity)
                                        </div>
                                        <button type="submit" class="button btn-cart" style="font-size:20px"><span>THÊM VÀO GIỎ HÀNG</span></button>
                                        <br />
                                        @Html.ValidationMessageFor(model => Model.CustomerQuantity, "", new { @class = "text-danger" })

                                        }
                                </div>
                                }

                                <br />
                                <br />
                                <div class="toggle-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="fa fa-user"></i> <strong style="font-size:18px"><span id="num-buyer">@Model.NumBuyer</span> người đã mua</strong>
                                        </div>
                                        <div id="time" class="col-md-8">

                                            <span id="countdown-2">

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">THÔNG TIN CHI TIẾT</a></li>

                            <li><a href="#tab_2" data-toggle="tab">BẢN ĐỒ</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @Html.Raw(Model.Description)

                            </div>

                            <div class="tab-pane" id="tab_2">

                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="popular-posts widget widget__sidebar" style="background:#fff">
                        <h3 class="widget-title" style="background:#fff">ĐỊA CHỈ</h3>
                        <div class="widget-content">
                            <p style="font-size:medium"><i class="fa fa-map-marker"> 123 Nguyễn Văn Trỗi P1, QPhú Nhuận, TPHCM</i></p>
                        </div>
                    </div>
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2><strong>DEAL TƯƠNG TỰ</strong></h2>
                        </div>
                        <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/xi-mang-ha-tien-1-pcb-30.jpg"></a>

                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                <div class="item-content">
                                                    <div class="price-block">
                                                        <div class="price-box">
                                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px"> 67.000 VNĐ</span> Giảm <strong style="color:#ff1341; font-size:18px">5%</strong> </p>
                                                            <br />
                                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px"> 87.000 VNĐ </span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 123 </i></span></p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/xi-mang-ha-tien-1-pcb-30.jpg"></a>

                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                <div class="item-content">
                                                    <div class="price-block">
                                                        <div class="price-box">
                                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px"> 67.000 VNĐ</span> Giảm <strong style="color:#ff1341; font-size:18px">5%</strong> </p>
                                                            <br />
                                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px"> 87.000 VNĐ </span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 123 </i></span></p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="std">
                    <div id="border1" class="best-pro col-md-12">
                        <div class="slider-items-products">
                            <div class="new_title center">
                                <h2><strong>DEAL CÙNG NHÀ SẢN XUẤT</strong></h2>
                            </div>
                            <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4">
                                    <div class="item">
                                        <div class="col-item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="product_detail.html" class="product-image"> <img src="~/Content/images/xi-mang-fico-pcb40.jpg"> </a>
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a href="product_detail.html" title="Thép cây vằn Pomina D12"> Thép cây vằn Pomina D12 </a> </div>
                                                        <div class="item-content">
                                                            <div class="price-block">
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px"> 67.000 VNĐ</span> Giảm <strong style="color:#ff1341; font-size:18px">5%</strong> </p>
                                                                    <br />
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px"> 87.000 VNĐ </span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 123 </i></span></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="col-item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/xi-mang-ha-tien-1-pcb-30.jpg"></a>

                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                        <div class="item-content">
                                                            <div class="price-block">
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px"> 67.000 VNĐ</span> Giảm <strong style="color:#ff1341; font-size:18px">5%</strong> </p>
                                                                    <br />
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px"> 87.000 VNĐ </span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 123 </i></span></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="col-item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/xi-mang-ha-tien-1-pcb-30.jpg"></a>

                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                        <div class="item-content">
                                                            <div class="price-block">
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px"> 67.000 VNĐ</span> Giảm <strong style="color:#ff1341; font-size:18px">5%</strong> </p>
                                                                    <br />
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px"> 87.000 VNĐ </span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 123 </i></span></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/xi-mang-ha-tien-1-pcb-30.jpg"></a>

                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                        <div class="item-content">
                                                            <div class="price-block">
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px"> 67.000 VNĐ</span> Giảm <strong style="color:#ff1341; font-size:18px">5%</strong> </p>
                                                                    <br />
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px"> 87.000 VNĐ </span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 123 </i></span></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="product_detail.html" title="Xi măng Hà Tiên 1" class="product-image"> <img src="~/Content/images/xi-mang-ha-tien-1-pcb-30.jpg"></a>

                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"> <a href="grid.html" title="Xi măng Hà Tiên 1"> Xi măng Hà Tiên 1 </a> </div>
                                                        <div class="item-content">
                                                            <div class="price-block">
                                                                <div class="price-box">
                                                                    <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size:18px"> 67.000 VNĐ</span> Giảm <strong style="color:#ff1341; font-size:18px">5%</strong> </p>
                                                                    <br />
                                                                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size:18px"> 87.000 VNĐ </span> &nbsp; <span style="text-align:justify"> <i class="fa fa-user"> 123 </i></span></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @*<div class="popular-posts widget widget__sidebar">
                    <h3 class="widget-title">THÔNG TIN CHI TIẾT</h3>
                    <div class="widget-content">
                        @Html.Raw(Model.ProductDetails)
                    </div>
                </div>*@
            <br />

        </div>
    </div>
</section>
@Scripts.Render("~/bundles/clockjquery")


<script src="~/Scripts/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/parallax.js"></script>
<script src="~/Scripts/js/common.js"></script>
<script src="~/Scripts/js/slider.js"></script>
<script src="~/Scripts/js/owl.carousel.min.js"></script>
@*@RenderSection("scripts", required: false)*@
<script>
    //var date = getRelativeDate(02, 01, 10);
    //console.log(date);

    var test = new Date("@Model.DueDateCountdown");
    console.log(test);

    //$('#countdown-2').timeTo(test, function () {
    //    alert('Hello');
    //});

    $('#countdown-2').timeTo({
        timeTo: test,
        displayDays: 2,
        theme: "black",
        displayCaptions: true,
        fontSize: 35,
        captionSize: 10
    });

    function getRelativeDate(days, hours, minutes) {
        var date = new Date((new Date()).getTime() + 60000 /* milisec */ * 60 /* minutes */ * 24 /* hours */ * days /* days */);

        date.setHours(hours || 0);
        date.setMinutes(minutes || 0);
        date.setSeconds(0);

        return date;
    }

    $(document).ready(function () {
        $('input').bind("cut copy paste", function (e) {
            e.preventDefault();
        });

        $('input[type="number"]').bind('keypress', function (e) {
            if (e.keyCode == '9' || e.keyCode == '16') {
                return;
            }
            var code;
            if (e.keyCode) code = e.keyCode;
            else if (e.which) code = e.which;
            if (e.which == 46)
                return false;
            if (code == 8 || code == 46)
                return true;
            if (code < 48 || code > 57)
                return false;
        });

        var remainQuatity = Number($("#quantity-remain").text().replace(/[^0-9]+/g, ""));
        var expired = "@Model.Expired";
        if (!expired) {
            $("#CustomerQuantity").rules("add", {
                range: [1, remainQuatity],
                messages: {
                    range: "Số lượng phải từ 1 đến " + remainQuatity
                }
            });
        }


    });
</script>
