@model TGVL.SysCategory

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Danh mục hệ thống</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
            <img src="@Url.Content("~/Areas/Admin/Images/" + Model.Image)" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysCategory1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysCategory1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở về trang chủ", "Index")
</p>
