@model TGVL.Models.RequestProductViewModel

<style>
    .data-table {
        width: 100%;
        border-spacing: 0;
        text-align: left;
    }

        .data-table thead tr, .data-table tfoot tr {
            background-color: #f0f0f0;
        }

        .data-table thead th, .data-table thead td, .data-table tfoot th, .data-table tfoot td, .cart .totals table th, .cart .totals table td {
            color: #565656;
            border-bottom: 1px solid #eaeaea;
            border-right: 0px solid #dcdcdc;
            font-family: Arial, Helvetica, sans-serif;
        }

        .data-table tbody th, .data-table tbody td {
            border-bottom: 1px solid #eaeaea;
            border-right: 0px solid #dcdcdc;
            padding: 10px 10px 6px;
        }


        .data-table th {
            line-height: 20px;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
        }

        .data-table td {
            line-height: 20px;
            padding: 10px;
            vertical-align: top;
        }

        .data-table th .tax-flag {
            white-space: nowrap;
            font-weight: normal;
        }

        .data-table td.label, .data-table th.label {
            font-weight: normal;
            background: #f8f8f8;
        }

        .data-table input, data-table select, data-table textarea {
            margin: 3px;
        }

        .data-table p {
            margin: 10px 0;
        }

        .data-table .description {
            margin: 10px 0;
        }
</style>



<div class="table-responsive">
    <table class="data-table removable" id="my-orders-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManufactureName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductImage)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>

                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SelectedProduct)
            {
                var id = "p" + item.Id;
                <tr id="@id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Image)*@
                        <img src="~/Images/Product/SysProduct/@item.Image" style="max-height:100px; max-width:100px" />
                    </td>
                    <td>
                        @{
                            var productSessionKey = "product" + @item.Id;
                        }

                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = @item.Id + " form-control", @Value = Session[productSessionKey] == null ? 0 : Session[productSessionKey] } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice) / @Html.DisplayFor(modelItem => item.UnitType.Type)
                    </td>
                    <td>
                        <input type="checkbox"
                               name="selectedProduct"
                               value="@item.Id"
                               checked="checked"
                               style="display:none" />

                        <a name="delete" id="@item.Id" href="javascript:;">Xóa</a>

                    </td>
                </tr>
                            }
        </tbody>
    </table>

</div>
<div class="col-md-offset-2 col-md-10" id="productList"></div>

<script>
    $(document).ready(function () {
        $("a[name='delete']").click(function () {
            var rowIndex = $(this).closest('tr').prop('rowIndex');
            $('.removable tr').filter(function () {
                return this.rowIndex === rowIndex;
            }).remove();

            //$(this).closest('tr').remove();

        });

        $("input[name='Quantity']").bind('keyup mouseup', function () {
            var myClass = $(this).attr("class").split(" ")[0];
            //alert(myClass);

            var test = "." + myClass;
            $(test).on('keyup mouseup', function () {
                $(test).val($(this).val());
            });
        });
    });
</script>
