@using PagedList.Mvc
@using PagedList
@model  PagedList.IPagedList<TGVL.Models.RequestFloorModel>

@{
    ViewBag.Title = "Sàn đấu thầu";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")
<style>
.products-list .product-image {
    width: 200px;
    display: inline-block;
}
.products-list .product-image img {
    width: 200px;
    height: 200px;
}
.products-list .product-image img {
    height: 200px;
    margin-left: 10px;
}
.products-list .product-shop {
    width: 80%;
    text-align: left;
    margin-left: 15px;
    display: inline-block;
    float: right;
}
</style>

<div class="main-container" style="background:#f4f4f4">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-12">
                <div class="category-title">
                    <h2><strong>YÊU CẦU ĐẤU THẦU</strong></h2>
                </div>
                <div class="category-products">
                    <div class="toolbar">
                        <div id="sort-by">
                            <label style="font-size:14px">Lọc theo: </label>
                            <ul>
                                <li>
                                    <a>Mới nhất <i class="fa fa-arrow-down"></i></a>
                                    <ul>
                                        <li><a href="#">Tất cả</a></li>
                                        <li><a href="#">Price</a></li>
                                        <li><a href="#">Position</a></li>
                                    </ul>
                                </li>
                                
                                <li>
                                    <a>Mới nhất <i class="fa fa-arrow-down"></i></a>
                                    <ul>
                                        <li><a href="#">Tất cả</a></li>
                                        <li><a href="#">Price</a></li>
                                        <li><a href="#">Position</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a>Mới nhất  <i class="fa fa-arrow-down"></i></a>
                                    <ul>
                                        <li><a href="#">Tất cả</a></li>
                                        <li><a href="#">Price</a></li>
                                        <li><a href="#">Position</a></li>
                                    </ul>
                                </li>
                            </ul>
                            
                        </div>

                    </div>
                    <br />
                    <h4> Có tổng cộng<strong> @Model.Count</strong> yêu cầu đấu thầu</h4>
                    
                    <ol id="products-list" class="products-list">
                        @foreach (var item in Model)
                        {
                            <li class="item">
                                <div class="col-item">
                                    <div class="product-image"> <a href="product_detail.html" title="Sample Product"> <img class="small-image" src="~/Images/UserAvatar/@item.Avatar"> </a> </div>
                                    <div class="product-shop">
                                        <p class="pull-right" style="color:red; font-size:14px"><strong>Thời hạn yêu cầu</strong>: @Convert.ToDateTime(@item.DueDate).ToString("dd/MM/yyyy")</p>
                                        <br />
                                        <h2 class="product-name" style="font-size:14px"><strong> @item.Title </strong></h2>

                                        <div class="desc std">
                                            <p>
                                                @Html.Raw(@item.Descriptions)
                                                <a class="link-learn" title="Xem chi tiết" href="@Url.Action("Details", "Request", new { id = @item.GenerateSlug()})">Xem chi tiết</a>
                                            </p>

                                        </div>
                                        <div>
                                            <p><strong>Nhận hàng tại</strong>: @item.DeliveryAddress</p>
                                        </div>
                                        <div>
                                            <p><strong>Người đăng</strong>: @item.UserName
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ol>
                </div>
                <div style="text-align:center">
                    @Html.PagedListPager(Model, page => Url.Action("Bid", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </section>
        </div>
    </div>
</div>


@*<style>
        .commentlist:hover {
            background: linear-gradient(to right, #FFDDB0, #FFFFFF);
        }
    </style>

    <br />
    <br />
    <div class="col-md-12">
        <div class="page-title">
            <h1><strong>CÁC YÊU CẦU ĐẤU THẦU</strong></h1>
        </div>
        <br />
        <br />

        <div class="blog-wrapper" id="main">
            <div class="site-content" id="primary">
                <div role="main" id="content">
                    <div class="comment-content wow bounceInUp animated">
                        <div class="comments-wrapper">

                            @foreach (var item in Model)
                            {
                                <a href="/Request/Details/@item.Id">
                                    <ul class="commentlist">
                                        <li class="comment">
                                            <div class="comment-wrapper">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <h2><strong>@item.Title</strong></h2>
                                                        <p class="col-md-6">
                                                            <strong>Thông tin thêm </strong>
                                                            <br />
                                                            <strong>Nhận hàng tại</strong> @item.DeliveryAddress
                                                            <br />
                                                            <strong>Vào ngày</strong> @Convert.ToDateTime(@item.ReceivingDate).ToString("dd/MM/yyyy")
                                                            <br />
                                                        </p>
                                                        <div class="col-md-5"><p><strong>Mô tả ngắn</strong><br /> @item.Descriptions</p></div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p style="color:red"><strong>Hạn tin đến ngày @Convert.ToDateTime(@item.DueDate).ToString("dd/MM/yyyy")</strong></p>
                                                        <div><img src="~/Images/UserAvatar/@item.Avatar" width="100" height="100" alt="avatar" /></div>
                                                        <p style="color:red"><strong>@item.UserName</strong></p>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </a>
                            }
                        </div>

                    </div>
                    <br />
                    <div style="text-align:center">
                        @Html.PagedListPager(Model, page => Url.Action("Bid", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                    </div>
                </div>
            </div>
        </div>
    </div>*@





