@model TGVL.Models.ReplyDetails

@{
    ViewBag.Title = "ConfirmRequest";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}
@Styles.Render("~/Content/searchproductcss")
<section class="main-container col1-layout">
    <div class="main container">
        <div class="row">
            
            <div class="table-responsive">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th rowspan="1">&nbsp;</th>
                            <th rowspan="1">Sản phẩm</th>
                            <th colspan="2">Đơn giá</th>
                            <th>Số lượng</th>
                            <th colspan="2">Thành tiền</th>
                        </tr>
                    </thead>
                    <tfoot style="">
                        @*<tr>
                            <th colspan="5" class="text-right">Tổng cộng đơn hàng</th>
                            <th>1.788.999 VNĐ</th>
                        </tr>*@
                        
                        <tr>
                            <th colspan="5" class="text-right">Giảm giá</th>
                            <th>@Html.DisplayFor(model => model.Discount) <span>%</span></th>
                        </tr>
                        <tr>
                            <th colspan="5" class="text-right">Ngày giao hàng</th>
                            <th>@Html.DisplayFor(model => model.DeliveryDate)</th>
                        </tr>
                        <tr>
                            <th colspan="5" class="text-right">Tổng cộng</th>
                            <th style="color:red; font-size:20px"><strong>@Html.DisplayFor(model => model.Total)</strong></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            List<TGVL.Models.RepliedProduct> rp = ViewBag.RepliedProduct;
                        }
                        @foreach (var item in rp)
                        {
                            <tr>
                                <td class="image">
                                    <img src="~/Images/Product/SysProduct/@item.Image" style="max-height:60px; max-width:60px" />
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td colspan="2">@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>

                                <td>@Html.DisplayFor(modelItem => item.Total)</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="popular-posts widget widget__sidebar">
                        <h3 class="widget-title">THÔNG TIN KHÁCH HÀNG</h3>
                        <div class="widget-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Tên khách hàng</td>
                                            <td>@ViewBag.Customer.Fullname</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>@ViewBag.Customer.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Điện thoại</td>
                                            <td>@ViewBag.Customer.PhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ</td>
                                            <td>@ViewBag.Customer.Address</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="popular-posts widget widget__sidebar">
                        <h3 class="widget-title">THÔNG TIN CỬA HÀNG</h3>
                        <div class="widget-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Tên cửa hàng</td>
                                            <td>@ViewBag.Supplier.Fullname</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>@ViewBag.Supplier.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Điện thoại</td>
                                            <td>@ViewBag.Supplier.PhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ</td>
                                            <td>@ViewBag.Supplier.Address</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center">
                @Html.ActionLink("Xác nhận", "CheckOut", "Home", new { replyId = Model.Id }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</section>

