@model TGVL.Request
@using Microsoft.AspNet.Identity
@using TGVL.MyHelper
@{
    ViewBag.Title = "ViewNormalDetail";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")

<script src="~/Scripts/ResizeSensor.min.js"></script>
<script src="~/Scripts/theia-sticky-sidebar.js"></script>
<style>
    ul {
        border: 0;
        margin: 0;
        padding: 0;
    }

    #pagination-flickr li {
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 14px;
        list-style: none;
    }

    #pagination-flickr a {
        border: solid 1px #DDDDDD;
        margin-right: 2px;
    }

    #pagination-flickr .previous-off,
    #pagination-flickr .next-off {
        color: #666666;
        display: block;
        float: left;
        font-weight: bold;
        padding: 3px 4px;
    }

    #pagination-flickr .next a,
    #pagination-flickr .previous a {
        font-weight: bold;
        border: solid 1px #FFFFFF;
    }

    #pagination-flickr .active {
        color: #ff0084;
        font-weight: bold;
        display: block;
        float: left;
        padding: 4px 6px;
    }

    #pagination-flickr a:link,
    #pagination-flickr a:visited {
        color: #0063e3;
        display: block;
        float: left;
        padding: 3px 6px;
        text-decoration: none;
    }

    #pagination-flickr a:hover {
        border: solid 1px #666666;
    }

    #border {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        background: #fff;
        margin-bottom:20px;
    }

    #cart_box {
        background: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ededed;
        margin-bottom: 25px;
        padding: 15px;
        padding-bottom: 4px;
    }

        #cart_box h3 {
            background: #f8f8f8;
            margin: -15px -15px 15px;
            padding: 15px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-size: 18px;
        }

        #cart_box hr {
            margin-left: -15px;
            margin-right: -15px;
            border-color: #ededed;
        }

    .widget-content {
        padding: 15px 0;
        /* padding-left: 10px; */
        /* padding-right: 5px; */
        margin-left: 10px;
        border-top: none;
        font-size: 14px;
    }

    .sliderVip li {
        border-bottom: 1px solid #eeeeee;
        display: block;
        margin: -5px 15px;
        padding: 10px 0;
        overflow: hidden;
    }

    .box_img_bottom {
        float: left;
        width: 66px;
        height: 66px;
        display: block;
        text-align: center;
        margin-right: 5px;
        margin-top: 3px;
        margin-left: 7px;
        overflow: hidden;
    }

        .box_img_bottom a {
            width: 66px;
            height: 66px;
            display: table-cell;
            vertical-align: middle;
            padding: 0px;
        }

        .box_img_bottom img {
            max-width: 100%;
            max-height: 100%;
        }

    .info_raovat {
        overflow: hidden;
        margin-top: -10px;
        margin-right: 5px;
        padding-left: 5px;
    }

        .info_raovat h4 {
            font-size: 12px;
            font-weight: normal;
            max-height: 31px;
            overflow: hidden;
            line-height: 15px;
        }

            .info_raovat h4 a {
                color: #555454;
                font-size: 14px;
                padding: 0px;
            }

        .info_raovat p {
            font-size: 13px;
            color: #c90000;
            font-weight: bold;
            margin: 5px 0;
        }

    .report_raovat {
        color: #999999;
        font-size: 12px;
    }

        .report_raovat i {
            background-position: -373px -6px;
            width: 16px;
            height: 12px;
            display: inline-block;
        }

    .i {
        background: url(/Images/bg.png);
    }

    .report_raovat small {
        padding-right: 6px;
    }

    .report_raovat span {
        background-position: -356px -6px;
        width: 16px;
        height: 12px;
        display: inline-block;
    }

    .report_raovat div {
        display: initial;
        padding: 0 6px;
    }

    .sliderVip {
        margin-left: -30px;
        margin-right: -30px;
        margin-top: -20px;
    }
.more_item {
    position: relative;
    cursor: pointer;
    font-size: 13px;
}
.supplierName {
    font-size: 15px;
}

.modal-body {
    min-height:calc(100vh - 210px);
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

</style>

<section class="main-container col2-right-layout" style="transform: none;background: #f4f4f4;">
    <div class="main container">
        <div class="row">
            <div id="border" class="col-main col-sm-9 wow bounceInUp animated">
                <div class="blog-wrapper" id="main">
                    <div class="site-content" id="primary">
                        <div role="main" id="content">
                            <article class="blog_entry clearfix" id="post-29">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <br />
                                        @{
                                            var message = "";
                                            if (Model.StatusId == 2)
                                            {
                                                message = "(Hết hạn)";
                                            }
                                            else if (Model.StatusId == 3)
                                            {
                                                message = "(Hoàn tất)";
                                            }
                                        }
                                        <h2 class="blog_entry-title" style="text-align:center"> <strong>@Html.DisplayFor(model => model.Title)</strong> <span id="expiredMessage">@message</span></h2>
                                        <br />
                                    </div>
                                    <!--blog_entry-header-inner-->
                                </header>
                                <!--blog_entry-header clearfix-->
                                <div class="entry-content">

                                    <div class="table-responsive">
                                        <form>
                                            <table class="data-table" id="my-orders-table">
                                                <thead>
                                                    <tr>
                                                        <th>Sản phẩm yêu cầu: <span class="badge">@Model.RequestProducts.Count()</span></th>
                                                        <th>Ảnh minh họa</th>
                                                        <th>Nhà sản xuất</th>
                                                        <th>Số lượng</th>
                                                        <th>Đơn vị tính</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.RequestProducts)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <strong>
                                                                    <a href="javascript:;" onclick="viewProductDetails(@item.SysProductId, '@item.SysProduct.Name')">@item.SysProduct.Name</a>
                                                                </strong>
                                                            </td>

                                                            <td>
                                                                <img src="~/Images/Product/SysProduct/@item.SysProduct.Image" style="max-height:100px; max-width:100px" />
                                                            </td>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.SysProduct.Manufacturer.Name)
                                                            </td>

                                                            <td>
                                                                @if (item.Quantity == 0)
                                                                {
                                                                    <strong>Thỏa thuận</strong>
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                                }
                                                            </td>

                                                            @*<td>
                                                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                                                </td>*@

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.SysProduct.UnitType.Type)
                                                            </td>


                                                        </tr>
                                                    }


                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                    <br />
                                    <h4><strong>Thông tin chi tiết</strong></h4>
                                    <div class="table-responsive">
                                        <table class="data-table">
                                            <tbody>
                                                <tr style="display:none;">
                                                    <td id="requestID">@Html.DisplayFor(model => model.Id)</td>
                                                    <td id="requestType">@Html.DisplayFor(model => model.Flag)</td>
                                                </tr>

                                                <tr>
                                                    <td>Ngày nhận hàng</td>

                                                    <td>@Convert.ToDateTime(Model.ReceivingDate).ToString("dd/MM/yyyy")</td>
                                                </tr>
                                                <tr>
                                                    <td>Địa chỉ nhận hàng</td>
                                                    <td>@Html.DisplayFor(model => model.DeliveryAddress)</td>
                                                </tr>

                                                <tr>
                                                    <td>Hình thức thanh toán</td>
                                                    <td>@Html.DisplayFor(model => model.Payment.Type)</td>
                                                </tr>
                                                <tr>
                                                    <td>Mô tả</td>
                                                    <td style="max-width:10px">@Html.Raw(Model.Descriptions)</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                                <br />
                                <div class="entry-content">
                                    <h4><strong>Thông tin liên hệ</strong></h4>
                                    <div class="table-responsive">
                                        <table class="data-table">
                                            <tbody>
                                                <tr>
                                                    <td>Người đăng</td>
                                                    <td>@Html.DisplayFor(model => model.User.Fullname)</td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td>@Html.DisplayFor(model => model.User.Email)</td>
                                                </tr>
                                                <tr>
                                                    <td>Số điện thoại</td>
                                                    <td>
                                                        @Html.FormatPhoneNum(Model.User.PhoneNumber)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Địa chỉ</td>
                                                    <td>@Html.DisplayFor(model => model.User.Address)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </article>
                            @if (Request.IsAuthenticated)
                            {
                                <div class="comment-content wow bounceInUp animated">
                                    @if (Model.Flag == 0)
                                    {
                                    <!--Normal Replies-->
                                        <div class="comments-wrapper">
                                            <h4> <strong>Bình luận</strong> </h4>
                                            @if (User.IsInRole("Supplier") && ViewBag.Repliable == true && Model.StatusId == 1)
                                            {
                                                <button id="replyBtn" type="button" class="btn btn-info btn-lg" onclick="reply(@ViewContext.RouteData.Values["id"])"><i class="fa fa-reply" aria-hidden="true"></i> Trả lời</button>
                                            }
                                            <hr />

                                            <!--commentlist-->

                                            <ul class="commentlist" id="reply-content">
                                                @{
                                                    List<TGVL.Models.BriefReply> replies = ViewBag.Replies;

                                                    if (replies.Count() == 0)
                                                    {
                                                        <li id="replyCount">Hiện tại chưa có phản hồi</li>
                                                    }
                                                    else
                                                    {
                                                        foreach (var reply in replies)
                                                        {
                                                            <li class="comment" id="reply_@reply.Id">
                                                                <div class="comment-wrapper">
                                                                    <div class="comment-author vcard">
                                                                        <p class="gravatar">
                                                                            <a href="#">
                                                                                <img src="~/Images/UserAvatar/@reply.Avatar" width="170" height="170" alt="avatar" />
                                                                            </a>
                                                                        </p>
                                                                        <span class="author" style="color: #337ab7; font-size: 28px"><strong>@reply.Fullname</strong></span>
                                                                    </div>
                                                                    <div class="comment-meta" id="total_@reply.Id">
                                                                        <p><strong>Giá đề xuất: <span style="color: #ff1341; font-size: 28px">@Html.DisplayFor(modelreply => reply.Total)</span></strong></p>
                                                                    </div>
                                                                    <div class="comment-body">
                                                                        <p style="color:#333"><strong>Địa chỉ: </strong> <span style="color:#999">@reply.Address</span></p>
                                                                    </div>

                                                                    <div>
                                                                        @if (User.Identity.GetUserId<int>() == reply.SupplierId && Model.StatusId == 1)
                                                                        {
                                                                            <button id="edit" type="button" class="btn btn-warning btn-sm" onclick="edit(@reply.Id)">Chỉnh sửa</button>
                                                                        }
                                                                        else if (User.Identity.GetUserId<int>() == reply.CustomerId && Model.StatusId != 3)
                                                                        {
                                                                            <button id="viewDetails" type="button" class="btn btn-primary btn-sm" onclick="viewDetails(@reply.Id)">Chi tiết</button>
                                                                            <button id="select" type="button" class="btn btn-success btn-sm" onclick="select(@reply.Id)">Lựa chọn</button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button id="viewDetails" type="button" class="btn btn-primary btn-sm" onclick="viewDetails(@reply.Id)">Chi tiết</button>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                            <!--/commentlist-->
                                        </div>
                                    }
                                    else if (Model.Flag == 1)
                                    {
                                        <div class="comments-wrapper">
                                                    <h4> <strong>Đấu thầu</strong> </h4>
                                                    @{
                                                        List<TGVL.Models.BriefBidReply> bidReplies = ViewBag.BidReplies;
                                                        if (User.IsInRole("Supplier") && ViewBag.Bidable == true && Model.StatusId == 1)
                                                        {
                                                            <button id="bidBtn" type="button" class="btn btn-info btn-lg" onclick="reply(@ViewContext.RouteData.Values["id"])"><i class="fa fa-gavel" aria-hidden="true"></i> Đặt thầu</button>
                                                        }

                                                        <div id="bidtable">
                                                            @if (User.IsInRole("Customer") && Model.CustomerId == User.Identity.GetUserId<int>() && (bidReplies == null || !bidReplies.Any()))
                                                            {
                                                                <p>Hiện tại chưa có ai đặt thầu</p>
                                                                if (Model.StatusId == 3)
                                                                {
                                                                    TGVL.Reply winner = ViewBag.Winner;
                                                                    <div class="table-responsive">
                                                                        <table class="data-table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        Thứ hạng
                                                                                    </th>

                                                                                    <th>
                                                                                        Cửa hàng
                                                                                    </th>

                                                                                    <th>
                                                                                        Giá thầu
                                                                                    </th>

                                                                                    <th>
                                                                                        Ngày giao hàng
                                                                                    </th>
                                                                                    <th>
                                                                                        Thao tác
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                <tr id="reply_@winner.Id">

                                                                                    <td id="rank">

                                                                                        <img src="~/Images/cup.png" style="max-height:75px; max-width:75px" />

                                                                                    </td>

                                                                                    <td>
                                                                                        <img src="~/Images/UserAvatar/@winner.User.Avatar" width="100" height="100" alt="avatar" style="display: block; margin-bottom: 5px;" />

                                                                                        <span class="supplierName"><strong>@winner.User.Fullname</strong></span>
                                                                                    </td>

                                                                                    <td>
                                                                                        <strong><span style="color: #ff1341; font-size: 20px">@string.Format("{0:C0}", winner.Total)</span></strong>
                                                                                    </td>

                                                                                    <td>
                                                                                        @Convert.ToDateTime(winner.DeliveryDate).ToString("dd/MM/yyyy")
                                                                                    </td>

                                                                                    <td>
                                                                                        <button type="button" class="btn btn-primary btn-sm" onclick="viewDetails(@winner.Id)">Chi tiết</button>

                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                }
                                                            }
                                                           
                                                            else if ((User.IsInRole("Customer") && Model.CustomerId == User.Identity.GetUserId<int>()) || (User.IsInRole("Supplier") && !ViewBag.Retracted))
                                                            {
                                                                if (bidReplies != null)
                                                                {
                                                                    <div class="table-responsive">
                                                                        <table class="data-table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        Thứ hạng
                                                                                    </th>

                                                                                    <th>
                                                                                        Cửa hàng
                                                                                    </th>

                                                                                    <th>
                                                                                        Giá thầu
                                                                                    </th>

                                                                                    <th>
                                                                                        Ngày giao hàng
                                                                                    </th>
                                                                                    <th>
                                                                                        Thao tác
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @foreach (var reply in bidReplies)
                                                                                {
                                                                                    <tr id="reply_@reply.Id">
                                                                                        
                                                                                        <td id="rank">
                                                                                            @if (User.IsInRole("Customer"))
                                                                                            {
                                                                                                if (reply.Rank <= 3)
                                                                                                {
                                                                                                    var image = "rank_" + reply.Rank + ".png";
                                                                                                    <img src="~/Images/@image" style="max-height:75px; max-width:75px" />
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    @reply.Rank
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                if (Model.StatusId == 1)
                                                                                                {
                                                                                                    if (reply.Rank == 1)
                                                                                                    {
                                                                                                        var image = "rank_" + reply.Rank + ".png";
                                                                                                        <img src="~/Images/@image" style="max-height:75px; max-width:75px" />

                                                                                                    }
                                                                                                    else if (reply.Rank > 1 && reply.Rank <= 5)
                                                                                                    {
                                                                                                        @Html.Raw("Nhóm dẫn đầu")
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        @reply.Rank
                                                                                                    }
                                                                                                }
                                                                                                else if (Model.StatusId == 2)
                                                                                                {
                                                                                                    if (reply.Rank <= 3)
                                                                                                    {
                                                                                                        var image = "rank_" + reply.Rank + ".png";
                                                                                                        <img src="~/Images/@image" style="max-height:75px; max-width:75px" />
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        @reply.Rank
                                                                                                    }
                                                                                                }

                                                                                            }      

                                                                                        </td>

                                                                                        <td>
                                                                                            <img src="~/Images/UserAvatar/@reply.Avatar" width="100" height="100" alt="avatar" style="display: block; margin-bottom: 5px;"/>
                                                                                                    
                                                                                            <span class="supplierName"><strong>@reply.Fullname</strong></span>
                                                                                        </td>

                                                                                        <td>
                                                                                            <strong><span style="color: #ff1341; font-size: 20px">@Html.DisplayFor(modelreply => reply.Total)</span></strong>
                                                                                        </td>

                                                                                        <td>
                                                                                            @Convert.ToDateTime(reply.DeliveryDate).ToString("dd/MM/yyyy")
                                                                                        </td>

                                                                                        <td>
                                                                                            @if (User.Identity.GetUserId<int>() == reply.SupplierId && Model.StatusId == 1)
                                                                                            {
                                                                                                <button id="edit" type="button" class="btn btn-warning btn-sm" onclick="edit(@reply.Id)">Chỉnh sửa</button>
                                                                                                        
                                                                                                <button id="autobid" type="button" class="btn btn-info btn-sm" onclick="autobid(@reply.Id)">Tự đặt giá</button>
                                                                                                       
                                                                                                if (ViewBag.Retractable)
                                                                                                {
                                                                                                    <button id="retract" type="button" class="btn btn-danger btn-sm" onclick="retract(@reply.Id)">Rút thầu</button>
                                                                                                }
                                                                                            }
                                                                                            else if (User.Identity.GetUserId<int>() == reply.CustomerId)
                                                                                            {
                                                                                                <button type="button" class="btn btn-primary btn-sm" onclick="viewDetails(@reply.Id)">Chi tiết</button>
                                                                                                <button type="button" class="select btn btn-success btn-sm" style="display:none" onclick="select(@reply.Id)">Lựa chọn</button>
                                                                                                if (Model.StatusId == 2)
                                                                                                {
                                                                                                    <button type="button" class="select btn btn-success btn-sm" onclick="select(@reply.Id)">Lựa chọn</button>
                                                                                                }
                                                                                                if (ViewBag.Banable)
                                                                                                {
                                                                                                    <button type="button" class="select btn btn-danger btn-sm ban-btn" onclick="ban(@reply.Id)">Cấm đặt thầu</button>
                                                                                                }
                                                                                            }
                                                                                            else if (/*User.Identity.GetUserId<int>() == reply.SupplierId && */Model.StatusId == 2)
                                                                                            {
                                                                                                <button type="button" class="btn btn-primary btn-sm" onclick="viewDetails(@reply.Id)">Chi tiết</button>
                                                                                            }
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                }

                                                            }

                                                        </div>
                                                    }
                                                </div>
                                    }
                                    
                                </div>
                            }

                            <br />

                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3" id="sidebar">
                <div class="theiaStickySidebar">
                    <div id="cart_box">
                        @if (Model.Flag == 1)
                        {
                            <h3>THỜI GIAN CÒN LẠI</h3>
                            <div class="widget-content" style="padding-bottom:20px">
                                <div id="countdown-2"></div>
                            </div>
                            <hr />

                            <h3 style="margin-top: -20px;">SỐ NGƯỜI ĐẤU THẦU</h3>
                            <div class="widget-content" style="padding-bottom:20px;text-align: center;">
                                <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"> <span id="numBidder">@ViewBag.NumBidder</span></i>
                            </div>
                            <hr />
                        }
                        
                       

                        @{
                            TGVL.Models.LuceneRequestResult similarRequest = ViewBag.SimilarRequest;
                            if (similarRequest != null && similarRequest.SimilarResult.Count != 0)
                            {
                                var list = similarRequest.SimilarResult.ToList();
                                <h3 style="margin-top: -20px;">YÊU CẦU TƯƠNG TỰ</h3>
                                        <ul class="sliderVip">
                                            @for (int i = 0; i < list.Count(); i++)
                                            {
                                                if (list[i].Id == Model.Id)
                                                {
                                                    continue;
                                                }

                                                <li>
                                                    <div class="box_img_bottom">
                                                        <a href="@Url.Action("Details", "Request", new { id = list[i].Slug})"><img src="~/Images/UserAvatar/@list[i].Avatar" /></a>
                                                    </div>
                                                    <div class="info_raovat">
                                                        <h4>
                                                            <a href="@Url.Action("Details", "Request", new { id = list[i].Slug})">@list[i].Title</a>
                                                        </h4>
                                                        @if (list[i].Flag == 1)
                                                        {
                                                            <p>Đấu thầu</p>
                                                        }
                                                        else
                                                        {
                                                            <p>Mua thường</p>
                                                        }
                                                        <div class="report_raovat">
                                                            <span class="i"></span>
                                                            <small>@list[i].NumReplies</small>
                                                            | <div>@Convert.ToDateTime(list[i].StartDate).ToString("dd/MM/yyyy")</div>
                                                        </div>
                                                        @if (list[i].Flag == 1)
                                                        {
                                                            <div class="more_item">
                                                                <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="count-down" data-time="@list[i].DueDateCountdown"></span>
                                                            </div>
                                                        }
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                            }

                        }

                    </div><!-- End cart_box -->
                </div>
            </div>




        </div>

    </div>
</section>



<div id="replyModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left:0%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật đơn thầu</h4>
            </div>
            <div class="modal-body" style="min-height:calc(100vh - 210px);max-height: calc(100vh - 210px);overflow-y: auto;">
                <div id="replyInfo"></div>
            </div>
            <div class="modal-footer">
               
                <input type="button" value="Hoàn tất" class="btn btn-success" id="submit-btn-reply" style="display:none" />
                <input type="button" value="Cập nhật" class="btn btn-success" id="submit-btn-edit" style="display:none" />
               
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close-reply-form">Đóng</button>
            </div>
        </div>

    </div>
</div>

<div id="autoBidModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left:0%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title2">Cài đặt tự động đấu thầu</h4>
            </div>
            <div class="modal-body">
                <div id="autoBidInfo"></div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Hủy tự đặt giá" class="btn btn-danger" id="submit-btn-remove-autobid" style="display:none" />
                <input type="button" value="Hoàn tất" class="btn btn-success" id="submit-btn-autobid" />
                
                <button class="btn btn-default" data-dismiss="modal" id="close-reply-form-auto" >Đóng</button>
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/clockjquery")

<script>

    var date = new Date("@ViewBag.DueDateCountdown");
    console.log(date);

    $('#countdown-2').timeTo({
        timeTo: date,
        displayDays: 2,
        theme: "black",
        displayCaptions: true,
        fontSize: 24,
        captionSize: 16,
    }, function () {
        countdownRequest(@Model.Id);
    });

    $(document).ready(function () {
        $('#sidebar')
            .theiaStickySidebar({
                additionalMarginTop: 50
        });
        clock();

        //auto bid
        var auto = '@ViewBag.AutoBid';

        if (auto == 'True') {
            console.log("auto bid - run");
            var replyId = '@ViewBag.AutoReplyId';
            setTimeout(function () {
                autobidAgain(parseInt(replyId));
            }, 5000)
        } else {
            console.log("auto bid - 404");
        }

    });

</script>





