@model TGVL.Request
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ViewNormalDetail";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}

@Styles.Render("~/Content/searchproductcss")


<style>
    ul {
        border: 0;
        margin: 0;
        padding: 0;
    }

    #pagination-flickr li {
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 14px;
        list-style: none;
    }

    #pagination-flickr a {
        border: solid 1px #DDDDDD;
        margin-right: 2px;
    }

    #pagination-flickr .previous-off,
    #pagination-flickr .next-off {
        color: #666666;
        display: block;
        float: left;
        font-weight: bold;
        padding: 3px 4px;
    }

    #pagination-flickr .next a,
    #pagination-flickr .previous a {
        font-weight: bold;
        border: solid 1px #FFFFFF;
    }

    #pagination-flickr .active {
        color: #ff0084;
        font-weight: bold;
        display: block;
        float: left;
        padding: 4px 6px;
    }

    #pagination-flickr a:link,
    #pagination-flickr a:visited {
        color: #0063e3;
        display: block;
        float: left;
        padding: 3px 6px;
        text-decoration: none;
    }

    #pagination-flickr a:hover {
        border: solid 1px #666666;
    }

    #border {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
    }
</style>

<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div id="border" class="col-main col-sm-9 wow bounceInUp animated">
                <div class="blog-wrapper" id="main">
                    <div class="site-content" id="primary">
                        <div role="main" id="content">
                            <article class="blog_entry clearfix" id="post-29">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <br />
                                        <h2 class="blog_entry-title" style="text-align:center"> <strong>@Html.DisplayFor(model => model.Title)</strong> </h2>
                                    </div>
                                    <!--blog_entry-header-inner-->
                                </header>
                                <!--blog_entry-header clearfix-->
                                <div class="entry-content">
                                    <h4><strong>Sản phẩm yêu cầu</strong></h4>
                                    <div class="table-responsive">
                                        <form>
                                            <table class="data-table" id="my-orders-table">
                                                <thead>
                                                    <tr>
                                                        <th>Sản phẩm</th>
                                                        @*<th>Giá</th>*@
                                                        <th>Ảnh minh họa</th>
                                                        <th>Nhà sản xuất</th>
                                                        <th>Số lượng</th>
                                                        <th>Đơn vị tính</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.RequestProducts)
                                                    {
                                                    <tr>
                                                        <td>
                                                            <strong>@Html.ActionLink((item.SysProduct.Name), "Details", "Products", new { id = item.SysProductId }, null)</strong>
                                                        </td>

                                                        <td>
                                                            <img src="~/Images/Product/SysProduct/@item.SysProduct.Image" style="max-height:100px; max-width:100px" />
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SysProduct.Manufacturer.Name)
                                                        </td>

                                                        <td>
                                                            @if (item.Quantity == 0)
                                                                {
                                                                <strong>Thỏa thuận</strong>
                                                                }
                                                                else
                                                                {
                                                                @Html.DisplayFor(modelItem => item.Quantity)
                                                                }
                                                        </td>

                                                        @*<td>
                                                                @Html.DisplayFor(modelItem => item.UnitPrice)
                                                            </td>*@

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SysProduct.UnitType.Type)
                                                        </td>


                                                    </tr>
                                                    }


                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                    <br />
                                    <h4><strong>Thông tin chi tiết</strong></h4>
                                    <div class="table-responsive">
                                        <form>
                                            <table class="data-table" id="my-orders-table">
                                                <tbody>
                                                    <tr style="display:none;">
                                                        <td id="requestID">@Html.DisplayFor(model => model.Id)</td>
                                                        <td id="requestType">@Html.DisplayFor(model => model.Flag)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Loại nhà</td>
                                                        <td>@Html.DisplayFor(model => model.House.Type)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ngày nhận hàng</td>

                                                        <td>@Convert.ToDateTime(Model.ReceivingDate).ToString("dd/MM/yyyy")</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Địa chỉ nhận hàng</td>
                                                        <td>@Html.DisplayFor(model => model.DeliveryAddress)</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Hình thức thanh toán</td>
                                                        <td>@Html.DisplayFor(model => model.Payment.Type)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Mô tả</td>
                                                        <td>@Html.Raw(Model.Descriptions)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                                <br />
                                <div class="entry-content">

                                    <h4><strong>Thông tin liên hệ</strong></h4>
                                    <div class="table-responsive">
                                        <form>
                                            <table class="data-table" id="my-orders-table">
                                                <tbody>
                                                    <tr>
                                                        <td>Người đăng</td>
                                                        <td>@Html.DisplayFor(model => model.User.Fullname)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email</td>
                                                        <td>@Html.DisplayFor(model => model.User.Email)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Số điện thoại</td>
                                                        <td>@Html.DisplayFor(model => model.User.PhoneNumber)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Địa chỉ</td>
                                                        <td>@Html.DisplayFor(model => model.User.Address)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </article>
                            @if (Request.IsAuthenticated)
                            {
                            <div class="comment-content wow bounceInUp animated">
                                @if (Model.Flag == 0)
                                    {
                                    <!--Normal Replies-->
                                    <div class="comments-wrapper">
                                        <h4> <strong>Bình luận</strong> </h4>
                                        @if (User.IsInRole("Supplier") && ViewBag.Repliable == true && ViewBag.Expired == false)
                                            {
                                            <button id="replyBtn" type="button" class="btn btn-info btn-lg" onclick="reply(@ViewContext.RouteData.Values["id"])">Phản hồi</button>
                                            }
                                        <hr />

                                        <!--commentlist-->

                                        <ul class="commentlist" id="reply-content">
                                            @{
                                                    List<TGVL.Models.BriefReply> replies = ViewBag.Replies;

                                                    if (replies.Count() == 0)
                                                    {
                                                <li id="replyCount">Hiện tại chưa có phản hồi</li>
                                                    }
                                                    else
                                                    {
                                                        foreach (var reply in replies)
                                                        {
                                                <li class="comment" id="reply_@reply.Id">
                                                    <div class="comment-wrapper">
                                                        <div class="comment-author vcard">
                                                            <p class="gravatar">
                                                                <a href="#">
                                                                    <img src="~/Images/UserAvatar/@reply.Avatar" width="100" height="100" alt="avatar" />
                                                                </a>
                                                            </p>
                                                            <span class="author">@reply.Fullname</span>
                                                        </div>
                                                        <div class="comment-meta" id="total_@reply.Id">
                                                            <p><strong>@Html.DisplayFor(modelreply => reply.Total)</strong></p>
                                                        </div>
                                                        <div class="comment-body">
                                                            @*@reply.Description*@
                                                            <p style="color:#333">@reply.Address</p>
                                                        </div>

                                                        <div>
                                                            @if (User.Identity.GetUserId<int>() == reply.SupplierId)
                                                                        {
                                                                        <button id="edit" type="button" class="btn btn-warning btn-sm" onclick="edit(@reply.Id)">Chỉnh sửa</button>
                                                                        }
                                                                        else if (User.Identity.GetUserId<int>() == reply.CustomerId)
                                                                        {
                                                                        <button id="viewDetails" type="button" class="btn btn-primary btn-sm" onclick="viewDetails(@reply.Id)">Chi tiết</button>
                                                                        <button id="select" type="button" class="btn btn-success btn-sm" onclick="select(@reply.Id)">Lựa chọn</button>
                                                                        }
                                                                        else
                                                                        {
                                                                        <button id="viewDetails" type="button" class="btn btn-primary btn-sm" onclick="viewDetails(@reply.Id)">Chi tiết</button>
                                                                        }

                                                        </div>
                                                    </div>
                                                </li>
                                                        }
                                                    }
                                            }
                                        </ul>
                                        <!--/commentlist-->
                                    </div>
                                        }
                                        else if (Model.Flag == 1)
                                        {
                                    <div class="comments-wrapper">
                                        <h4> <strong>Đấu thầu</strong> </h4>
                                        @{
                                                    List<TGVL.Models.BriefBidReply> bidReplies = ViewBag.BidReplies;
                                                    if (User.IsInRole("Supplier") && ViewBag.Bidable == true)
                                                    {
                                                <button id="bidBtn" type="button" class="btn btn-info btn-lg" onclick="reply(@ViewContext.RouteData.Values["id"])">Đặt thầu</button>
                                                    }

                                                <div id="bidtable">
                                                    @if (User.IsInRole("Customer") && Model.CustomerId == User.Identity.GetUserId<int>() && bidReplies.Count() == 0)
                                                        {
                                                        <p>Hiện tại chưa có ai đặt thầu</p>
                                                            }

                                                            else if ((User.IsInRole("Customer") && Model.CustomerId == User.Identity.GetUserId<int>()) || User.IsInRole("Supplier"))
                                                            {
                                                                if (bidReplies.Count() != 0)
                                                                {
                                                        <div class="table-responsive">
                                                            <table class="data-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            Thứ hạng
                                                                        </th>

                                                                        <th>
                                                                            Cửa hàng
                                                                        </th>

                                                                        <th>
                                                                            Tổng cộng
                                                                        </th>

                                                                        <th>
                                                                            Ngày giao hàng
                                                                        </th>
                                                                        <th>
                                                                            Thao tác
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var reply in bidReplies)
                                                        {
                                                                            <tr id="reply_@reply.Id">
                                                                                @*<td id="bidreplyId">@reply.Id</td>*@
                                                                                <td id="rank">
                                                                                    @reply.Rank
                                                                                </td>

                                                                                <td>
                                                                                    <img src="~/Images/UserAvatar/@reply.Avatar" width="100" height="100" alt="avatar" />
                                                                                    @reply.Fullname
                                                                                </td>

                                                                                <td>
                                                                                    @Html.DisplayFor(modelreply => reply.Total)
                                                                                </td>

                                                                                <td>
                                                                                    @*@reply.DeliveryDate.Date.ToString("dd/MM/yyyy")*@
                                                                                    @*@Html.DisplayFor(modelreply => reply.DeliveryDate)*@
                                                                                    @Convert.ToDateTime(reply.DeliveryDate).ToString("dd/MM/yyyy")
                                                                                </td>

                                                                                <td>
                                                                                    @if (User.Identity.GetUserId<int>() == reply.SupplierId)
                                                                                        {
                                                                                        <button id="edit" type="button" class="btn btn-warning btn-sm" onclick="edit(@reply.Id)">Chỉnh sửa</button>
                                                                                        }
                                                                                        else if (User.Identity.GetUserId<int>() == reply.CustomerId)
                                                                                        {
                                                                                        <button type="button" class="btn btn-primary btn-sm" onclick="viewDetails(@reply.Id)">Chi tiết</button>
                                                                                        <button type="button" class="select btn btn-success btn-sm" style="display:none" onclick="select(@reply.Id)">Lựa chọn</button>
                                                                                            if (ViewBag.Expired)
                                                                                            {
                                                                                        <button type="button" class="select btn btn-success btn-sm" onclick="select(@reply.Id)">Lựa chọn</button>
                                                                                            }

                                                                                        }
                                                                                </td>
                                                                            </tr>
                                                                            }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                            }

                                                        }

                                                </div>
                                        }
                                    </div>
                                        }
                                <!--comments-wrapper-->

                            </div>
                                }

                            <br />
                            @*<ul id="pagination-flickr">
                                    <li class="previous-off">«Trước</li>
                                    <li class="active">1</li>
                                    <li><a href="?page=2">2</a></li>
                                    <li><a href="?page=3">3</a></li>
                                    <li><a href="?page=4">4</a></li>
                                    <li><a href="?page=5">5</a></li>
                                    <li><a href="?page=6">6</a></li>
                                    <li><a href="?page=7">7</a></li>
                                    <li class="next"><a href="?page=2">Sau »</a></li>
                                </ul>*@
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-right sidebar col-sm-3 wow bounceInUp animated">
                @if (Model.Flag == 1)
                {
                    @*<strong style="color:red" id="expired">
                            @{
                                var message = ViewBag.Expired == true ? "Expired" : "Sẽ kết thúc trong";
                            }

                            @message
                        </strong>*@
                    <div id="countdown-2" class="col-md-3" , style="position:fixed;right:0%">
                    </div>
                }
                else
                {
                    <div class="popular-posts widget widget__sidebar">
                        <h3 class="widget-title"><strong>YÊU CẦU TƯƠNG TỰ</strong></h3>

                        <div class="widget-content">
                            <ul class="posts-list unstyled clearfix">
                                <li>
                                    @*<figure class="featured-thumb"> <a href="#pellentesque-posuere"> <img width="80" height="80" alt="blog image" src="~/Content/images/Xi măng Hà Tiên 1 PCB 40.jpg"> </a> </figure>*@
                                    <p><strong>Tiêu đề</strong>: Mua xi măng giá rẻ ở quận 4</p>
                                    <p>Sản phẩm</p>
                                    <p><strong>Người đăng</strong>: Cao Minh Thúy Vy</p>
                                </li>
                                <li>
                                    <figure class="featured-thumb"> <a href="#dolor-lorem-ipsum"> <img width="60" height="60" alt="blog image" src="~/Content/images/xi-mang-fico-pcb40.jpg"> </a> </figure>

                                    <p><strong>Tiêu đề</strong></p>
                                    <p>Sản phẩm</p>
                                    <p><strong>Người đăng</strong></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>



<div id="replyModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left:0%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Trả lời</h4>
            </div>
            <div class="modal-body" style="min-height:calc(100vh - 210px);max-height: calc(100vh - 210px);overflow-y: auto;">
                <div id="replyInfo"></div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Hoàn tất" class="btn btn-success" id="submit-btn-reply" style="display:none" />
                <input type="button" value="Hoàn tất" class="btn btn-success" id="submit-btn-edit" style="display:none" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/clockjquery")

<script>

    var date = new Date("@ViewBag.DueDateCountdown");
    console.log(date);

    $('#countdown-2').timeTo({
        timeTo: date,
        displayDays: 2,
        theme: "black",
        displayCaptions: true,
        fontSize: 28,
        captionSize: 14,
    });


</script>





