@using PagedList.Mvc
@using PagedList
@model  IPagedList<TGVL.Models.RequestFloorModel>

@{
    ViewBag.Title = "Sàn đấu thầu";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
    ViewData["RequestSearchString"] = ViewBag.SearchString;
}

@Styles.Render("~/Content/searchproductcss")
<style>
.products-list .product-image {
    width: 200px;
    display: inline-block;
}
.products-list .product-image img {
    width: 200px;
    height: 200px;
}
.products-list .product-image img {
    height: 200px;
    margin-left: 10px;
}
.products-list .product-shop {
    width: 80%;
    text-align: left;
    margin-left: 15px;
    display: inline-block;
    float: right;
}
.qa_content {
    margin: 0 auto;
    padding: 10px 0 20px 0;
    overflow: hidden;
}
.qa_center {
    /*width: 560px;*/
    /*float: left;*/
    /*margin-right: 15px;*/
    background: #fff;
    border: 1px solid #e5ecf4;
    border-radius: 5px;
}
.qa_center .filter {
    height: 40px;
    border-bottom: 1px solid #ebebeb;
    padding: 0px 20px;
    display: block;
    margin-top: 10px;
}
.selectBox {
    display: inline-block;
    position: relative;
    margin-right: 6px;
}
.selectBox:hover .select_title{
    background: #c8c8c8;
    color: #fff;
}
.selectBox:hover .selectItem{
    display: block;
}
.select_title {
    background: #efeff4;
    display: block;
    width: 107px;
    text-align: center;
    padding: 6px 4px;
    border-radius: 30px;
    color: #476aba;
    position: relative;
    z-index: 5;
}
.select_title i {
    background: url(/Images/arrow_down.gif);
    float: right;
    height: 5px;
    width: 9px;
    position: relative;
    top: 8px;
    left: -5px;
}
.selectItem {
    background: #efeff4;
    width: 108px;
    padding: 20px 0 10px 0;
    position: absolute;
    top: 15px;
    display: none;
    z-index: 1;
}
.qa_center .filter a {
    color: #476aba;
}
.selectItem a {
    display: block;
    padding: 4px 10px;
}
.qa_center .qa_item {
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
    padding: 15px 20px;
    display: block;
}
.picture_raovat {
    float: left;
    min-height: 135px;
    overflow: hidden;
    padding-right: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.picture_raovat img {
    width: 140px;
}
.top_qa_item .info {
    width: 100%;
}
.info {
    display: inline-block;
}
.info a {
    color: black;
	font-size: 13px;
}
.info h2 {
    font-size: 14px;
    line-height: 20px;
    float: left;
    width: 100%;
}
.qa_item .description {
    /*line-height: 18px;*/
    overflow: hidden;
    margin-top: 5px;
}
.teaser {
    max-height: 53px;
    overflow: hidden;
}
.info p, .info p a {
    
    margin: 6px 0;
}

.info p span {
    display: inline-block;
    color: #b6b6b6;
}
.deliver_address {
    display: block;
    margin-top: 10px;
}
.deliver_address span {
    color: #d13b3b;
    
}
.info p .reply {
    background: url(/Images/icon_reply_gray.png) no-repeat center right;
    padding: 0 15px 0 0;
    color: #666666 !important;
}
.more_item {
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}
.no_result_search_message {
    text-align: center;
    padding: 25px;
    font-size: 13px;
    color: #bcbcbc;
    line-height: 18px;
}
</style>

<div class="main-container" style="background:#f4f4f4">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-12">
                <div class="qa_content">
                    <div class="qa_center">
                        @{ 
                            string f_page = ((int)ViewBag.page).ToString(); //min 1...
                            string f_sort = ((int)ViewBag.sort).ToString(); //min 1, 2
                            string f_type = ((int)ViewBag.type).ToString(); //min 0, 1, 2
                            string f_searchString = ViewBag.SearchString;

                            var list1 = ViewBag.list1;
                            var list2 = ViewBag.list2;
                            var title1 = f_sort == "1" ? "Mới nhất" : "Nổi bật";
                            var title2 = "";
                            if (f_type == "2")
                            {
                                title2 = "Tất cả";
                            } else if (f_type == "1")
                            {
                                title2 = "Đấu thầu";
                            } else {
                                title2 = "Mua thường";
                            }
                        }
                        <div class="filter">
                            <div class="selectBox">
                                <div class="select_title">@title1 <i></i> </div>
                                <div class="selectItem">
                                    @{ 
                                        foreach (var item in list1)
                                        {
                                            if (item.Value == (int)ViewBag.sort)
                                            {
                                                continue;
                                            }
                                            var link = "/Request?";
                                            if (f_searchString != null)
                                            {
                                                var test = Url.Encode(f_searchString);
                                                link += ("searchString=" + test + "&");
                                            }
                                            if (f_page != "1")
                                            {
                                                link += ("page=" + f_page + "&");
                                            }
                                            if (f_type != "2")
                                            {
                                                link += ("type=" + f_type + "&");
                                            }
                                            link += ("sort=" + item.Value);
                                            <a href="@link">@item.Name</a>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="selectBox">
                                <div class="select_title">@title2 <i></i> </div>
                                <div class="selectItem">
                                    @{
                                        foreach (var item in list2)
                                        {
                                            if (item.Value == (int)ViewBag.type)
                                            {
                                                continue;
                                            }
                                            var link = "/Request?";
                                            if (f_searchString != null)
                                            {
                                                var test = Url.Encode(f_searchString);
                                                link += ("searchString=" + test + "&");
                                            }
                                            if (f_page != "1")
                                            {
                                                link += ("page=" + f_page + "&");
                                            }
                                            if (f_sort != "1")
                                            {
                                                link += ("sort=" + f_sort + "&");
                                            }
                                            link += ("type=" + item.Value);
                                            <a href="@link">@item.Name</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="box_main_content">
                            @{
                                if (Model == null)
                                {
                                    <div class="no_result_search_message">
                                        <img src="~/Images/note_search.png"><br>
                                        Không có yêu cầu nào phù hợp với tiêu chí tìm kiếm của bạn.<br>Bạn hãy thử lại bằng tiêu chí khác.<br> (nhập Từ khóa khác, chọn loại yêu cầu khác...)
                                    </div>
                                }
                                else
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="qa_item">
                                            <div class="picture_raovat">
                                                <a href="@Url.Action("Details", "Request", new { id = @item.Slug})"><img src="~/Images/UserAvatar/@item.Avatar" /></a>
                                            </div>
                                            <div class="description">
                                                <div class="top_qa_item">
                                                    <div class="info">
                                                        <div class="raovat_name">
                                                            <a href="@Url.Action("Details", "Request", new { id = @item.Slug})" style="font-size:18px" title="@item.Title"><strong>@item.Title</strong></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="description teaser">
                                                    @Html.Raw(@item.Descriptions)
                                                </div>
                                                <div class="deliver_address"><span><strong>Địa chỉ nhận hàng</strong></span>: @item.DeliveryAddress</div>
                                                <div class="info">
                                                    <p>
                                                        <strong><span>@item.UserName</span> <span>•</span> <span>@Convert.ToDateTime(item.StartDate).ToString("dd/MM/yyyy HH:mm")</span> <span>•</span> <span>@item.ListProducts</span> <span>•</span> <span class="reply">@item.NumReplies</span></strong>
                                                    </p>
                                                </div>
                                                @if (item.Flag == 1)
                                                {
                                                    <div class="more_item">
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="count-down" data-time="@item.DueDateCountdown"></span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            
                        </div>
                    </div>
                </div>

                <div style="text-align:center">
                    @{
                        var searchString = Url.Encode(f_searchString);
                        if (Model != null)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { searchString, page, ViewBag.sort, ViewBag.type }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                        }
                    }
                    
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        clock();
    });

</script>







