@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<TGVL.Models.RequestFloorModel>
@{
    ViewBag.Title = "Sàn yêu cầu";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}


@Styles.Render("~/Content/searchproductcss")

<style>
    .commentlist:hover {
        background: linear-gradient(to right, #FFDDB0, #FFFFFF);
    }
</style>


<div class="col-md-12">
    <div class="page-title">
        <h1><strong>CÁC YÊU CẦU MUA THƯỜNG</strong></h1>
    </div>


    <div class="blog-wrapper" id="main">
        <div class="site-content" id="primary">
            <div role="main" id="content">
                <div class="comment-content wow bounceInUp animated">
                    <div class="comments-wrapper">
                        @*@{
                                List<TGVL.Models.RequestFloorModel> list = ViewBag.ListNormalRequest;
                            }*@
                        @foreach (var item in Model)
                        {
                            <a href="/Request/Details/@item.Id">
                                <ul class="commentlist">
                                    <li class="comment">
                                        <div class="comment-wrapper">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <h2><strong>@item.Title</strong></h2>
                                                    <p class="col-md-6">
                                                        <strong>Thông tin thêm </strong>
                                                        <br />
                                                        <strong>Nhận hàng tại</strong> @item.DeliveryAddress
                                                        <br />
                                                        <strong>Vào ngày</strong> @Convert.ToDateTime(@item.ReceivingDate).ToString("dd/MM/yyyy")
                                                        <br />
                                                    </p>
                                                    <div class="col-md-5"><p><strong>Mô tả ngắn</strong><br /> @item.Descriptions</p></div>
                                                </div>
                                                <div class="col-md-3">
                                                    <p style="color:red"><strong>Hạn tin đến ngày @Convert.ToDateTime(@item.DueDate).ToString("dd/MM/yyyy")</strong></p>
                                                    <div><img src="~/Images/UserAvatar/@item.Avatar" width="100" height="100" alt="avatar" /></div>
                                                    <p style="color:red"><strong>@item.UserName</strong></p>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </a>
                        }

                        s
                        @*<ul class="pagination" style="text-align:center">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li class="disabled"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>*@

                    </div>

                </div>
                <br />
                <div style="text-align:center">
                    @Html.PagedListPager(Model, page => Url.Action("Bid", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>
        </div>
    </div>
</div>


