@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<TGVL.Models.RequestFloorModel>
@{
    ViewBag.Title = "Sàn yêu cầu";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
}


@Styles.Render("~/Content/searchproductcss")



<div class="col-md-12">
    <div class="page-title">
        <h1><strong>CÁC YÊU CẦU MUA THƯỜNG</strong></h1>
    </div>


    <div class="blog-wrapper" id="main">
        <div class="site-content" id="primary">
            <div role="main" id="content">
                <div class="comment-content wow bounceInUp animated">
                    <div class="comments-wrapper">
                        @*@{
                                List<TGVL.Models.RequestFloorModel> list = ViewBag.ListNormalRequest;
                            }*@
                        @foreach (var item in Model)
                        {
                            <ul class="commentlist">
                                <li class="comment">
                                    <div class="comment-wrapper">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <h2><strong>@item.Title</strong></h2>
                                                <table class="col-md-3">
                                                    <thead>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><strong>Yêu cầu </strong></td>
                                                            <td> Sản phẩm 1 </td>
                                                            <td> Sản phẩm 2</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br />
                                                <div><p><strong>Mô tả: @item.Descriptions</strong></p></div>
                                            </div>
                                            <div class="col-md-3">
                                                <p style="color:red"><strong>@item.ReceivingDate</strong></p>
                                                <p style="color:red"><strong>@item.UserName</strong></p>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        }

                        <ul class="commentlist">
                            <li class="comment">
                                <div class="comment-wrapper">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h2><strong>Tiêu đề ở đây</strong></h2>
                                            <table class="col-md-3">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><strong>Yêu cầu </strong></td>
                                                        <td> Sản phẩm 1 </td>
                                                        <td> Sản phẩm 2</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </br>
                                            <div><p><strong>Mô tả ngắn: ở đây</strong></p></div>
                                        </div>
                                        <div class="col-md-3">
                                            <p style="color:red"><strong>Ngày nhận hàng: Hiện ở đây</strong></p>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                        @*<ul class="pagination" style="text-align:center">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li class="disabled"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>*@

                    </div>

                </div>
                <br />
                <div style="text-align:center">
                    @Html.PagedListPager(Model, page => Url.Action("Bid", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>
        </div>
    </div>
</div>


