@model TGVL.SysProduct

@{
    ViewBag.Title = "Details";
}


<ul class="breadcrumb">
    <li><a href="#"><h2>Chi tiết sản phẩm</h2></a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>@Html.DisplayFor(model => model.Name)</h2>

        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Hình ảnh
                        </dt>

                        <dd>
                            <img src="@Html.DisplayFor(model => model.Image)" width="100px" height="100px" />
                        </dd>

                        <dt>
                            Giá
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt>
                            Nhà sản xuất
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Manufacturer.Name)
                        </dd>

                        <dt>
                            Danh mục
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SysCategory.Name)
                        </dd>

                    </dl>
                </div>
                </table>
                <p>
                    @Html.ActionLink("Sửa thông tin", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Trờ về", "Index")
                </p>
