@model Order
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";
    List<OrderStatus> orderStatuses = ViewBag.ListStatus;
}

@Styles.Render("~/Content/searchproductcss")
@Styles.Render("~/Content/order-details.css")
<style>
    .wizard_horizontal ul.wizard_steps
{
	display: table;
	list-style: none;
	margin: 0 0 20px;
	position: relative;
	width: 100%;
}
.wizard_horizontal ul.wizard_steps li
{
	display: table-cell;
	text-align: center;
}
.wizard_horizontal ul.wizard_steps li a,.wizard_horizontal ul.wizard_steps li:hover
{
	color: #666;
	display: block;
	filter: alpha(opacity=100);
	moz-opacity: 1;
	opacity: 1;
	position: relative;
}
.wizard_horizontal ul.wizard_steps li a:before
{
	background: #ccc;
	content: "";
	height: 4px;
	left: 0;
	position: absolute;
	top: 20px;
	width: 100%;
	z-index: 4;
}
.wizard_horizontal ul.wizard_steps li a.disabled .step_no
{
	background: #ccc;
}
.wizard_horizontal ul.wizard_steps li a .step_no
{
	border-radius: 100px;
	display: block;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto 5px;
	position: relative;
	text-align: center;
	width: 40px;
	z-index: 5;
}
.step_no,.wizard_horizontal ul.wizard_steps li a.selected:before
{
	background: #34495E;
	color: #fff;
}
.wizard_horizontal ul.wizard_steps li a.done .step_no,.wizard_horizontal ul.wizard_steps li a.done:before
{
	background: #1ABB9C;
	color: #fff;
}
.wizard_horizontal ul.wizard_steps li:first-child a:before
{
	left: 50%;
}
.wizard_horizontal ul.wizard_steps li:last-child a:before
{
	left: auto;
	right: 50%;
	width: 50%;
}
</style>

<section class="main-container">
    <div class="main container">
        <div class="row">
            <div class="col-md-12">
                <div class="popular-posts widget widget__sidebar">
                    <h2 class="widget-title"><strong>THÔNG TIN CHI TIẾT ĐƠN HÀNG</strong></h2>
                    <div class="widget-content">
                        <div class="box-chitiet-dh">
                            <ol class="chitiet-dh-steps">
                                @foreach (var item in orderStatuses)
                                {
                                    if (item.Id == 5) { continue; }

                                    var stepClass = "";
                                    if (item.Id == Model.StatusId)
                                    {
                                        stepClass = "is-active";
                                    } else if (item.Id < Model.StatusId)
                                    {
                                        stepClass = "is-complete";
                                    }
                                    <li class="@stepClass">
                                        <span>
                                            @item.Status<br>
                                            @if (item.Id == 1)
                                            {
                                                @Html.DisplayFor(modelItem => Model.CreateDate)
                                            }
                                        </span>
                                    </li>
                                }

                            </ol>
                        </div>
                        
                        <div>
                            <h3 style="font-size:15px"><strong>TÓM TẮT</strong></h3>
                            <br />
                            <dl class="dl-horizontal">
                               
                                <dt>
                                    Hình thức thanh toán
                                </dt>

                                <dd>
                                    @Html.DisplayFor(modelItem => Model.Payment.Type)
                                </dd>


                                @if (Model.Discount != 0)
                                {
                                    decimal mini = 0;

                                    foreach (var item in Model.OrderDetails)
                                    {
                                        mini += item.UnitPrice * item.Quantity;
                                    }
                                    <dt>
                                        Thành tiền
                                    </dt>

                                    <dd>
                                        @string.Format("{0:C0}", mini)
                                    </dd>
                                    

                                }
                                else
                                {
                                    <dt>
                                        Thành tiền
                                    </dt>

                                    <dd>
                                        @string.Format("{0:C0}", Model.Total)
                                    </dd>
                                }

                                <dt>
                                    Giảm giá
                                </dt>

                                <dd>
                                    @Model.Discount %
                                </dd>

                                <dt>
                                    Tổng cộng
                                </dt>

                                <dd>
                                    @string.Format("{0:C0}", Model.Total)
                                </dd>

                                <dt>
                                    Ghi chú
                                </dt>

                                <dd>
                                    @Html.DisplayFor(modelItem => Model.Description)
                                </dd>
                            </dl>
                        </div>
                        
                        <div>
                            <h3 style="font-size:16px"><strong>THÔNG TIN KHÁCH HÀNG</strong></h3>
                            <br />
                            <dl class="dl-horizontal">
                                <dt>
                                    Họ tên
                                </dt>

                                <dd>
                                    @Html.DisplayFor(modelItem => Model.User.Fullname)
                                </dd>

                                <dt>
                                    Địa chỉ giao hàng
                                </dt>

                                <dd>
                                    @Html.DisplayFor(modelItem => Model.User.Address)
                                </dd>

                                <dt>
                                    Số điện thoại
                                </dt>

                                <dd>
                                    @Html.DisplayFor(modelItem => Model.User.PhoneNumber)
                                </dd>

                                <dt>
                                    Email
                                </dt>

                                <dd>
                                    @Html.DisplayFor(modelItem => Model.User.Email)
                                </dd>
                                
                            </dl>
                            
                        </div>
                        
                        <div>
                            <h3 style="font-size:16px"><strong>THÔNG TIN SẢN PHẨM</strong></h3>
                            <br />
                            <div class="table-responsive">
                                <table class="data-table">
                                    <thead>
                                        <tr>
                                            <th>Sản phẩm trong đơn hàng: <span class="badge">@Model.OrderDetails.Count()</span></th>
                                            <th>Giá bán</th>
                                            <th>Số lượng</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderDetails)
                                        {
                                            decimal mini = item.UnitPrice * item.Quantity;
                                            if (item.Flag == 3) //deal
                                            {
                                                <tr>
                                                    <td>@item.Deal.Product.SysProduct.Name</td>
                                                    <td>
                                                        @string.Format("{0:C0}", item.UnitPrice)
                                                    </td>
                                                    <td>@item.Quantity</td>
                                                    <td>
                                                        @string.Format("{0:C0}", mini)
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@item.Product.SysProduct.Name</td>
                                                    <td>
                                                        @string.Format("{0:C0}", item.UnitPrice)
                                                    </td>
                                                    <td>@item.Quantity</td>
                                                    <td>
                                                        @string.Format("{0:C0}", mini)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

