@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Thông tin đơn hàng";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";

    List<Order> listOrders = ViewBag.ListOrders;
}

@Styles.Render("~/Content/searchproductcss")
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />


<div class="main-container col2-left-layout" style="background:#f4f4f4">
    <div class="main container">
        <div class="row">
            <aside class="col-left sidebar col-sm-3">
                @Html.Partial("_MenuPartial")
            </aside>
            <section class="col-main col-sm-9">
                <div class="box">
                    <div class="box-header">
                        <h2 class="box-title" style="font-size:28px"><strong>ĐƠN HÀNG</strong></h2>
                    </div>
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ngày đặt</th>
                                    <th>Nhà cung cấp</th>
                                    <th>Trạng thái</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int cnt = 0;
                                    foreach (var item in listOrders)
                                    {
                                        cnt++;
                                        <tr>
                                            <td>@cnt</td>

                                            <td>@Convert.ToDateTime(item.CreateDate).ToString("dd/MM/yyyy HH:mm")</td>
                                            <td>@item.User1.Fullname</td>
                                            <td>
                                                @if (item.StatusId == 5)
                                                {
                                                    <span>Hoàn tất</span>
                                                }
                                                else
                                                {
                                                    <span>@item.OrderStatus.Status</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
                                                @if (item.StatusId == 4)
                                                {
                                                    //Hoan tat
                                                    <button type="button" id="review-btn" class="btn btn-primary" onclick="review(@item.Id)">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Đánh giá
                                                    </button>
                                                }


                                            </td>
                                        </tr>
                                    }
                                }




                            </tbody>
                        </table>
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>

<div id="review" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left:0%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đánh giá đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div id="reviewForm"></div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Đánh giá" class="btn btn-primary" id="submit-btn-review" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $("#example1").DataTable();
    });
</script>