@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Thông tin đơn hàng";
    Layout = "~/Views/Shared/_HomePageViewLayout.cshtml";

    List<Order> listOrders = ViewBag.ListOrders;
}

@Styles.Render("~/Content/searchproductcss")
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />


<div class="main-container col2-left-layout" style="background:#eee">
    <div class="main container">
        <div class="row">
            <aside class="col-left sidebar col-sm-3">
                <div class="block block-account">
                    <div class="block-title">
                        <div class="profile">
                            <div class="profile_avatar">
                                <img src="~/Content/images/gachbong.jpg" style="width:60px;height:60px;max-height:60px;max-width:60px" />
                            </div>
                            <div class="profile_info">
                                <div style="padding:5px; font-size:15px">@User.Identity.Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li><a href="/Manage/Index">Thông tin cá nhân</a></li>
                            <li><a href="/Request/Index">Thông tin yêu cầu</a></li>
                            <li>
                                <a href="/Order/Index">Thông tin đơn hàng</a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </aside>
            <section class="col-main col-sm-9">
                <div class="box">
                    <div class="box-header">
                        <h2 class="box-title" style="font-size:28px"><strong>ĐƠN HÀNG</strong></h2>
                    </div>
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ngày đặt</th>
                                    <th>Nhà cung cấp</th>
                                    <th>Trạng thái</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int cnt = 0;
                                    foreach (var item in listOrders)
                                    {
                                        cnt++;
                                        <tr>
                                            <td>@cnt</td>

                                            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                            <td>@item.User1.Fullname</td>
                                            <td>
                                                @if (item.StatusId == 5)
                                                {
                                                    <span>Hoàn tất</span>
                                                }
                                                else
                                                {
                                                    <span>@item.OrderStatus.Status</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.Id }, new { @class = "button" })
                                                @if (item.StatusId == 4)
                                                {
                                                    //Hoan tat
                                                    <button type="button" id="review-btn" class="button btn-info" onclick="review(@item.Id)">
                                                        Đánh giá
                                                    </button>
                                                }


                                            </td>
                                        </tr>
                                    }
                                }




                            </tbody>
                        </table>
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>

<div id="review" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left:0%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đánh giá đơn hàng</h4>
            </div>
            <div class="modal-body" style="min-height:calc(100vh - 210px);max-height: calc(100vh - 210px);overflow-y: auto;">
                <div id="reviewForm"></div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Hoàn tất" class="btn btn-success" id="submit-btn-review" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $("#example1").DataTable();
    });
</script>